## **Import Libraries**

You might have to install GetOldTweet3    
https://pypi.org/project/GetOldTweets3/

In [1]:
import GetOldTweets3 as got
import time
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np
import os
# import tweepy as tw

In [71]:
# pip install tweepy

## **Function to Grab Date, Tweet, & Username**

In [24]:
def DownloadTweets(SinceDate, UntilDate, Query):
    '''
    Downloads all tweets from a certain month in three sessions in order to avoid sending too many requests. 
    Date format = 'yyyy-mm-dd'. 
    '''
    since = datetime.strptime(SinceDate, '%Y-%m-%d')
    until= datetime.strptime(UntilDate, '%Y-%m-%d')
    tenth = since + timedelta(days = 10)
    twentieth = since + timedelta(days=20)
    
    print ('starting first download')
    first = got.manager.TweetCriteria().setQuerySearch(Query).setSince(since.strftime('%Y-%m-%d')).setUntil(tenth.strftime('%Y-%m-%d'))
    firstdownload = got.manager.TweetManager.getTweets(first)
    firstlist=[[tweet.date, tweet.text, tweet.username] for tweet in firstdownload]
    
    df_1 = pd.DataFrame.from_records(firstlist, columns = ["date", "tweet", "user"])
#     df_1.to_csv("%s_1.csv" % SinceDate)
    
    time.sleep(600)
    
    print ('starting second download')
    second = got.manager.TweetCriteria().setQuerySearch(Query).setSince(tenth.strftime('%Y-%m-%d')).setUntil(twentieth.strftime('%Y-%m-%d'))
    seconddownload = got.manager.TweetManager.getTweets(second)
    secondlist=[[tweet.date, tweet.text, tweet.username] for tweet in seconddownload]
    
    df_2 = pd.DataFrame.from_records(secondlist, columns = ["date", "tweet", "user"])
#     df_2.to_csv("%s_2.csv" % SinceDate)
    
    time.sleep(600)
    
    print ('starting third download')
    third = got.manager.TweetCriteria().setQuerySearch(Query).setSince(twentieth.strftime('%Y-%m-%d')).setUntil(until.strftime('%Y-%m-%d'))
    thirddownload = got.manager.TweetManager.getTweets(third)
    thirdlist=[[tweet.date, tweet.text, tweet.username] for tweet in thirddownload]
    
    df_3 = pd.DataFrame.from_records(thirdlist, columns = ["date", "tweet", "user"])
#     df_3.to_csv("%s_3.csv" % SinceDate)
    
    df=pd.concat([df_1,df_2,df_3])
#     df.to_csv("%s.csv" % SinceDate)
  
    return df

**Date Ranges**  

Just copy and past these into the cell below. **Make sure not to run the same one again!!!**


**BILL:**  
fin_tweets =  DownloadTweets('2020-01-01', '2020-01-31', 'i lost power')   
fin_tweets =  DownloadTweets('2020-02-01', '2020-02-29', 'i lost power')   
fin_tweets =  DownloadTweets('2020-03-01', '2020-03-31', 'i lost power')    
fin_tweets =  DownloadTweets('2020-04-01', '2020-04-30', 'i lost power')  
fin_tweets =  DownloadTweets('2020-05-01', '2020-05-31', 'i lost power')  
fin_tweets =  DownloadTweets('2020-06-01', '2020-06-30', 'i lost power')  
fin_tweets =  DownloadTweets('2020-07-01', '2020-07-31', 'i lost power')  
fin_tweets =  DownloadTweets('2020-08-01', '2020-08-31', 'i lost power')  

**NATHAN:**  
fin_tweets =  DownloadTweets('2020-01-01', '2020-01-31', 'I hate these blackouts')   
fin_tweets =  DownloadTweets('2020-02-01', '2020-02-29', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-03-01', '2020-03-31', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-04-01', '2020-04-30', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-05-01', '2020-05-31', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-06-01', '2020-06-30', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-07-01', '2020-07-31', 'I hate these blackouts')  
fin_tweets =  DownloadTweets('2020-08-01', '2020-08-31', 'I hate these blackouts')  

**DAVID:**  
fin_tweets =  DownloadTweets('2020-01-01', '2020-01-31', 'I have no power')  
fin_tweets =  DownloadTweets('2020-02-01', '2020-02-29', 'I have no power')   
fin_tweets =  DownloadTweets('2020-03-01', '2020-03-31', 'I have no power')  
fin_tweets =  DownloadTweets('2020-04-01', '2020-04-30', 'I have no power')  
fin_tweets =  DownloadTweets('2020-05-01', '2020-05-31', 'I have no power')  
fin_tweets =  DownloadTweets('2020-06-01', '2020-06-30', 'I have no power')  
fin_tweets =  DownloadTweets('2020-07-01', '2020-07-31', 'I have no power')  
fin_tweets =  DownloadTweets('2020-08-01', '2020-08-31', 'I have no power')

In [25]:
fin_tweets =  DownloadTweets('2020-08-01', '2020-08-31', 'my power went out')

starting first download
starting second download
starting third download

In [26]:
print(fin_tweets.shape)

(15468, 3)

In [27]:
fin_tweets.head()

,date,tweet,user
0,2020-08-10 23:57:03+00:00,My power just went out on the middle of me com...,micro_weiner
1,2020-09-04 21:22:03+00:00,"Action-packed gameplay, an original cinematic ...",PlayAvengers
2,2020-08-10 23:56:10+00:00,Power just went out. They're goes my nightly d...,KobbyFletcher
3,2020-08-10 23:55:34+00:00,"Power went out, here's to hoping my phone batt...",MyNameIsBear_
4,2020-08-10 23:55:07+00:00,Our power went out and couldn’t even use the W...,HeyitsLupita

**MAKE SURE TO CHANGE THE MONTH ABBREVIATION AFTER EACH RUN**

Create a months_query folder in our main project5 folder


**BILL:**  
fin_tweets.to_csv("./months_query/jan_2020_ILP.csv", index=False)  
fin_tweets.to_csv("./months_query/feb_2020_ILP.csv", index=False)     
fin_tweets.to_csv("./months_query/mar_2020_ILP.csv", index=False)     
fin_tweets.to_csv("./months_query/apr_2020_ILP.csv", index=False)  
fin_tweets.to_csv("./months_query/may_2020_ILP.csv", index=False)  
fin_tweets.to_csv("./months_query/jun_2020_ILP.csv", index=False)  
fin_tweets.to_csv("./months_query/jul_2020_ILP.csv", index=False)  
fin_tweets.to_csv("./months_query/aug_2020_ILP.csv", index=False)  

**NATHAN:**  
fin_tweets.to_csv("./months_query/jan_2020_IHTB.csv", index=False)  
fin_tweets.to_csv("./months_query/feb_2020_IHTB.csv", index=False)    
fin_tweets.to_csv("./months_query/mar_2020_IHTB.csv", index=False)    
fin_tweets.to_csv("./months_query/apr_2020_IHTB.csv", index=False)      
fin_tweets.to_csv("./months_query/may_2020_IHTB.csv", index=False)  
fin_tweets.to_csv("./months_query/jun_2020_IHTB.csv", index=False)  
fin_tweets.to_csv("./months_query/jul_2020_IHTB.csv", index=False)  
fin_tweets.to_csv("./months_query/aug_2020_IHTB.csv", index=False) 

**DAVID:**  
fin_tweets.to_csv("./months_query/jan_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/feb_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/mar_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/apr_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/may_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/jun_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/jul_2020_IVNP.csv", index=False)  
fin_tweets.to_csv("./months_query/aug_2020_IHNP.csv", index=False)

In [28]:
fin_tweets.to_csv("./months_query/aug_2020_MPWO.csv", index=False)

### **Making One Big Dataframe with all of the tweets for every month for 2020**

Do these step after you have a CSV for every month

In [29]:
jan = pd.read_csv('./months_query/jan_2020_MPWO.csv')
print(jan.shape)

(3402, 3)

In [30]:
feb = pd.read_csv('./months_query/feb_2020_MPWO.csv')
print(feb.shape)

(3318, 3)

In [31]:
mar = pd.read_csv('./months_query/mar_2020_MPWO.csv')
print(mar.shape)

(4472, 3)

In [32]:
apr = pd.read_csv('./months_query/apr_2020_MPWO.csv')
print(apr.shape)

(6724, 3)

In [33]:
may = pd.read_csv('./months_query/may_2020_MPWO.csv')
print(may.shape)

(6194, 3)

In [34]:
jun = pd.read_csv('./months_query/jun_2020_MPWO.csv')
print(jun.shape)

(7083, 3)

In [35]:
jul = pd.read_csv('./months_query/jul_2020_MPWO.csv')
print(jul.shape)

(8987, 3)

In [36]:
aug = pd.read_csv('./months_query/aug_2020_MPWO.csv')
print(aug.shape)

(15468, 3)

**Replace my name with your name!!**

This will be a dataframe with all of the months

In [37]:
aidan_final_df = jan.append([feb, mar, apr, may, jun, jul, aug])

In [38]:
aidan_final_df.shape

(55648, 3)

In [39]:
aidan_final_df.to_csv('aidan_final_df.csv', index=False)

# **NEXT STEPS**

## **Adding Location Using Tweepy**

Disregard this down here we will do this when we have the master dataframe!

In [48]:
# consumer_key= 'nOj8CQ7XjcNbTS9fFPp6wUNQF'
# consumer_secret= '0VtlM5UXl2ZLAL0WMMT9WQ0kHFz4ufKTtn8T1bNVNpvdzYb2Mi'
# access_token= '1301516905136771072-TrLtF8u5u0pUBmkSULnErXQcuyVk9i'
# access_token_secret= 'hxCKEmbRNE1w0kn0H1owznIQJfuSjDGF3AaZLBCXgqQBO'

In [49]:
# auth = tw.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_token_secret)
# api = tw.API(auth, wait_on_rate_limit=True)

In [50]:
# user_locs = [n for n in df['user']]
# user_locs[0]

'rynertia'

In [51]:
# # the screen name of the user 
# location_final = []
# for xi in user_locs:
    
#     screen_name = xi

#     # fetching the user 
#     user = api.get_user(screen_name) 

#     # fetching the name 
#     name = user.name 

#     location = user.location

#     if location == "": 
#         location_final.append("The user has not mentioned their location.") 
#     else: 
#         location_final.append(location) 
        
#     time.sleep(3)

In [52]:
# location_final[0]

'The user has not mentioned their location.'

In [53]:
# df['location'] = location_final

In [54]:
# df

,tweets,user,location
0,i breathed so hard into my mic that my houses ...,rynertia,The user has not mentioned their location.
1,"Action-packed gameplay, an original cinematic ...",PlayAvengers,"San Francisco, CA"
2,my power just went completely out,gldencherry_,she/her
3,my power just went out,goIdentayIor,⅖ || wendy🤍 || 17 || lesbian
4,Today was an eventful day. I got most of my tr...,Boopcosplay,"Leicester, England"
...,...,...,...
678,Just lost power. I hate everything sadKEK http...,NachoOtter,"Michigan, USA"
679,"“In my opinion, the current president is tryin...",FreedomEnslaves,London Town
680,ai dungeon: huh? i thought lost was a girl me:...,guppystail,some dark place
681,I’m so blessed to work with these GKs every we...,ItsJustKelsss1,The user has not mentioned their location.
682,@TheCatOnFox can you ask. Im a coach and ive w...,marcusdinora,"Springfield, IL"