## **Import Libraries**

You might have to install GetOldTweet3    
https://pypi.org/project/GetOldTweets3/

In [1]:
import GetOldTweets3 as got
import time
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np
import os
import tweepy as tw

## **Function to Grab Date, Tweet, & Username For the Queries**

In [2]:
def DownloadTweets(SinceDate, UntilDate, Query):
    '''
    Downloads all tweets from a certain month in three sessions in order to avoid sending too many requests. 
    Date format = 'yyyy-mm-dd'. 
    '''
    since = datetime.strptime(SinceDate, '%Y-%m-%d')
    until= datetime.strptime(UntilDate, '%Y-%m-%d')
    tenth = since + timedelta(days = 10)
    twentieth = since + timedelta(days=20)
    
    print ('starting first download')
    first = got.manager.TweetCriteria().setQuerySearch(Query).setSince(since.strftime('%Y-%m-%d')).setUntil(tenth.strftime('%Y-%m-%d'))
    firstdownload = got.manager.TweetManager.getTweets(first)
    firstlist=[[tweet.date, tweet.text, tweet.username] for tweet in firstdownload]
    
    df_1 = pd.DataFrame.from_records(firstlist, columns = ["date", "tweet", "user"])
#     df_1.to_csv("%s_1.csv" % SinceDate)
    
    time.sleep(600)
    
    print ('starting second download')
    second = got.manager.TweetCriteria().setQuerySearch(Query).setSince(tenth.strftime('%Y-%m-%d')).setUntil(twentieth.strftime('%Y-%m-%d'))
    seconddownload = got.manager.TweetManager.getTweets(second)
    secondlist=[[tweet.date, tweet.text, tweet.username] for tweet in seconddownload]
    
    df_2 = pd.DataFrame.from_records(secondlist, columns = ["date", "tweet", "user"])
#     df_2.to_csv("%s_2.csv" % SinceDate)
    
    time.sleep(600)
    
    print ('starting third download')
    print('='*20)
    third = got.manager.TweetCriteria().setQuerySearch(Query).setSince(twentieth.strftime('%Y-%m-%d')).setUntil(until.strftime('%Y-%m-%d'))
    thirddownload = got.manager.TweetManager.getTweets(third)
    thirdlist=[[tweet.date, tweet.text, tweet.username] for tweet in thirddownload]
    
    df_3 = pd.DataFrame.from_records(thirdlist, columns = ["date", "tweet", "user"])
#     df_3.to_csv("%s_3.csv" % SinceDate)
    
    df=pd.concat([df_1,df_2,df_3])
#     df.to_csv("%s.csv" % SinceDate)
  
    return df

### **Pull In Tweets**

In [ ]:
# My Power Went Out
jan_fin_tweets_mpwo =  DownloadTweets('2020-01-01', '2020-01-31', 'my power went out')
time.sleep(100)
feb_fin_tweets_mpwo =  DownloadTweets('2020-02-01', '2020-02-29', 'my power went out')
time.sleep(100)
mar_fin_tweets_mpwo =  DownloadTweets('2020-03-01', '2020-03-31', 'my power went out')
time.sleep(100)
apr_fin_tweets_mpwo =  DownloadTweets('2020-04-01', '2020-04-30', 'my power went out')
time.sleep(100)
may_fin_tweets_mpwo =  DownloadTweets('2020-05-01', '2020-05-31', 'my power went out')
time.sleep(100)
jun_fin_tweets_mpwo =  DownloadTweets('2020-06-01', '2020-06-30', 'my power went out')
time.sleep(100)
jul_fin_tweets_mpwo =  DownloadTweets('2020-07-01', '2020-07-31', 'my power went out')
time.sleep(100)
aug_fin_tweets_mpwo =  DownloadTweets('2020-08-01', '2020-08-31', 'my power went out')
time.sleep(100)

# I lost power
jan_fin_tweets_ilp =  DownloadTweets('2020-01-01', '2020-01-31', 'i lost power')
time.sleep(100)
feb_fin_tweets_ilp =  DownloadTweets('2020-02-01', '2020-02-29', 'i lost power')
time.sleep(100)
mar_fin_tweets_ilp =  DownloadTweets('2020-03-01', '2020-03-31', 'i lost power')
time.sleep(100)
apr_fin_tweets_ilp =  DownloadTweets('2020-04-01', '2020-04-30', 'i lost power')
time.sleep(100)
may_fin_tweets_ilp =  DownloadTweets('2020-05-01', '2020-05-31', 'i lost power')
time.sleep(100)
jun_fin_tweets_ilp =  DownloadTweets('2020-06-01', '2020-06-30', 'i lost power')
time.sleep(100)
jul_fin_tweets_ilp =  DownloadTweets('2020-07-01', '2020-07-31', 'i lost power')
time.sleep(100)
aug_fin_tweets_ilp =  DownloadTweets('2020-08-01', '2020-08-31', 'i lost power')
tim.sleep(100)

# There is a power outage
jan_fin_tweets_tpo =  DownloadTweets('2020-01-01', '2020-01-31', 'there is a power outage')
time.sleep(100)
feb_fin_tweets_tpo =  DownloadTweets('2020-02-01', '2020-02-29', 'there is a power outage')
time.sleep(100)
mar_fin_tweets_tpo =  DownloadTweets('2020-03-01', '2020-03-31', 'there is a power outage')
time.sleep(100)
apr_fin_tweets_tpo =  DownloadTweets('2020-04-01', '2020-04-30', 'there is a power outage')
time.sleep(100)
may_fin_tweets_tpo =  DownloadTweets('2020-05-01', '2020-05-31', 'there is a power outage')
time.sleep(100)
jun_fin_tweets_tpo =  DownloadTweets('2020-06-01', '2020-06-30', 'there is a power outage')
time.sleep(100)
jul_fin_tweets_tpo =  DownloadTweets('2020-07-01', '2020-07-31', 'there is a power outage')
time.sleep(100)
aug_fin_tweets_tpo =  DownloadTweets('2020-08-01', '2020-08-31', 'there is a power outage')
time.sleep(100)

# I have no power
jan_fin_tweets_ihnp =  DownloadTweets('2020-01-01', '2020-01-31', 'I have no power')
time.sleep(100)
feb_fin_tweets_ihnp =  DownloadTweets('2020-02-01', '2020-02-29', 'I have no power')
time.sleep(100)
mar_fin_tweets_ihnp =  DownloadTweets('2020-03-01', '2020-03-31', 'I have no power')
time.sleep(100)
apr_fin_tweets_ihnp =  DownloadTweets('2020-04-01', '2020-04-30', 'I have no power')
time.sleep(100)
may_fin_tweets_ihnp =  DownloadTweets('2020-05-01', '2020-05-31', 'I have no power')
time.sleep(100)
jun_fin_tweets_ihnp =  DownloadTweets('2020-06-01', '2020-06-30', 'I have no power')
time.sleep(100)
jul_fin_tweets_ihnp =  DownloadTweets('2020-07-01', '2020-07-31', 'I have no power')
time.sleep(100)
aug_fin_tweets_ihnp =  DownloadTweets('2020-08-01', '2020-08-31', 'I have no power')

## **Make Combined DataFrames**

In [ ]:
mpwo_final_df = jan_fin_tweets_mpwo.append([feb_fin_tweets_mpwo, mar_fin_tweets_mpwo, apr_fin_tweets_mpwo, 
                                            may_fin_tweets_mpwo, jun_fin_tweets_mpwo, jul_fin_tweets_mpwo, aug_fin_tweets_mpwo])

In [ ]:
ilp_final_df = jan_fin_tweets_ilp.append([feb_fin_tweets_ilp, mar_fin_tweets_ilp, apr_fin_tweets_ilp, 
                                            may_fin_tweets_ilp, jun_fin_tweets_ilp, jul_fin_tweets_ilp, aug_fin_tweets_ilp])

In [ ]:
tpo_final_df = jan_fin_tweets_tpo.append([feb_fin_tweets_tpo, mar_fin_tweets_tpo, apr_fin_tweets_tpo, 
                                            may_fin_tweets_tpo, jun_fin_tweets_tpo, jul_fin_tweets_tpo, aug_fin_tweets_tpo])

In [ ]:
ihnp_final_df = jan_fin_tweets_ihnp.append([feb_fin_tweets_ihnp, mar_fin_tweets_ihnp, apr_fin_tweets_ihnp, 
                                            may_fin_tweets_ihnp, jun_fin_tweets_ihnp, jul_fin_tweets_ihnp, aug_fin_tweets_ihnp])

In [ ]:
print(mpwo_final_df.shape)
print(ilp_final_df.shape)
print(tpo_final_df.shape)
print(ihnp_final_df.shape)

## **Final DataFrame**

In [ ]:
ready_for_processing = mpwo_final_df.append([ilp_final_df,
                                             tpo_final_df, # This one will be nathans
                                             ihnp_final_df])

In [ ]:
print(ready_for_processing)

In [ ]:
ready_for_processing.to_csv('ready_for_processing.csv', index=False)

In [2]:
aidan = pd.read_csv('mpwo_final_df.csv')

In [4]:
aidan.shape

(55648, 3)

In [5]:
david = pd.read_csv('DLee_final_df.csv')

In [6]:
david.shape

(45012, 3)

In [7]:
nathan = pd.read_csv('nathan_final_df.csv')

In [8]:
nathan.shape

(3183, 3)

In [11]:
bill = pd.read_csv('bill_final_df.csv')

In [18]:
bill['tweet'][87454]

"Oh it's forever on my mind! GOP do nothing but whine & cry about their loss of power! In the face of so many precious human lives lost, is the weakest most demonic thing I've ever witnessed! I wasn't alive for Nazi atrocities' so this, is that to me! "

In [12]:
bill.shape

(87459, 3)

In [14]:
dfs = aidan.append([david, nathan, bill])

In [15]:
dfs.shape

(191302, 3)

## **Adding Random Tweets**

In [5]:
jan_fin_tweets_wwos =  DownloadTweets('2020-03-01', '2020-03-31', 'we went out shopping')
time.sleep(100)
feb_fin_tweets_wwos =  DownloadTweets('2020-02-01', '2020-02-29', 'we went out shopping')
time.sleep(100)
mar_fin_tweets_wwos =  DownloadTweets('2020-03-01', '2020-03-31', 'we went out shopping')
time.sleep(100)
apr_fin_tweets_wwos =  DownloadTweets('2020-04-01', '2020-04-30', 'we went out shopping')
time.sleep(100)
may_fin_tweets_wwos =  DownloadTweets('2020-05-01', '2020-05-31', 'we went out shopping')
time.sleep(100)
jun_fin_tweets_wwos =  DownloadTweets('2020-06-01', '2020-06-30', 'we went out shopping')
time.sleep(100)
jul_fin_tweets_wwos =  DownloadTweets('2020-07-01', '2020-07-31', 'we went out shopping')
time.sleep(100)
aug_fin_tweets_wwos =  DownloadTweets('2020-08-01', '2020-08-31', 'we went out shopping')

starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================
starting first download
starting second download
starting third download
====================

In [4]:
mar_fin_tweets_wwos

,date,tweet,user
0,2020-03-10 23:30:05+00:00,"I went shopping for my office today, we were o...",LynnNickey
1,2020-09-03 13:34:34+00:00,"They were once the top NBA players, so find ou...",BUZZNET
2,2020-03-10 22:56:29+00:00,Went out shopping at HyVee. Was proud to see #...,burginam
3,2020-03-10 22:47:09+00:00,So we just came back from grocery shopping at ...,COACHELLAEVENTS
4,2020-03-10 22:42:12+00:00,It's really stupid Craig. We went to Costco a ...,SherrySwinders2
...,...,...,...
697,2020-03-21 01:15:14+00:00,day 3: not insane yet! went grocery shopping c...,PR3TTYDARK
698,2020-03-21 00:57:09+00:00,my husbands parents went grocery shopping and ...,ihatelaika
699,2020-03-21 00:25:36+00:00,"Usually, on the few occasions that I go food s...",LPGLDN
700,2020-03-21 00:03:17+00:00,Sorry I missed the deadline but we just got ba...,esoxbox
701,2020-03-21 00:02:37+00:00,My mate went nappy hunting for 3 days straight...,frankiegraulund

In [6]:
bad_words = jan_fin_tweets_wwos.append([feb_fin_tweets_wwos, mar_fin_tweets_wwos, apr_fin_tweets_wwos, may_fin_tweets_wwos,
                                       jun_fin_tweets_wwos, jul_fin_tweets_wwos, aug_fin_tweets_wwos])

In [8]:
bad_words.to_csv("we_went_shopping.csv", index=False)