## **Import Libraries**

In [8]:
import GetOldTweets3 as got
import time
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np
import os
import tweepy as tw

In [2]:
pip install tweepy

Requirement already satisfied: tweepy in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (3.9.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/aidancurley/.conda/envs/project5/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

## **Get The Tweet and Usernames**

In [73]:
tweets = []
user = []
def DownloadTweets(SinceDate, UntilDate, query, sleep=900, maxtweet=0) :
    #create a list of day numbers
    since = datetime.strptime(SinceDate, '%Y-%m-%d')
    
#   Days is the amount of days we are pulling data from. This is subtracting the SinceDate from the UntilDate
    days = list(range(0, (datetime.strptime(UntilDate, '%Y-%m-%d') - datetime.strptime(SinceDate, '%Y-%m-%d')).days+1))

#   This loop will run for the number of days above eg. days is 50 --> this loop will run 50 times 
    for day in days:
        init = got.manager.TweetCriteria().setQuerySearch(query).setSince((since + timedelta(days=day)).strftime('%Y-%m-%d')).setUntil((since+ timedelta(days=day+1)).strftime('%Y-%m-%d')).setMaxTweets(maxtweet)
        get = got.manager.TweetManager.getTweets(init)
        
        # Appending a list of the tweets to an empty list above
        tweets.append([[tweet.text] for tweet in get])
        
        # Appending a list of usernames to an empty list above
        user.append([use.username for use in get])
#         print("day", day+1, "of", len(days), "completed")
     
    time.sleep(sleep)

    return 

since = "2018-01-01"  #SinceDate
until = "2020-09-04"  #UntilDate

q_list = [' my power went out ', 'I just lost power', 'my power is out', 
          ' I have a power outage ', 'my power is down']

# For every query in q_list this function will run and add the tweets and usernames to the empty lists
for n in q_list: 
    tweets2 = DownloadTweets(since, until, query=n, maxtweet=9_999, sleep=10)
    

# ================================================================================================================================    
# This functions will splits the pulled user name into a list of strings in a list
def split(users):
    fin_user = []
    for xi in users:
        for n in xi:
            fin_user.append(n.split(","))
            
    return fin_user

users = split(user) # This is calling the function

hmm = [tweet[0] for sublist in tweets for tweet in sublist] # This gets us the string of the tweet before it was a list of list of lists


fin_user = [''.join(ele) for ele in users] # This gets rid of the [] around the individual stringed usernames
df = pd.DataFrame({'tweets': hmm, 
                   'user': fin_user
                  })

# ================================================================================================================================    
# Now using Tweepy to get user location
# consumer_key= 'nOj8CQ7XjcNbTS9fFPp6wUNQF'
# consumer_secret= '0VtlM5UXl2ZLAL0WMMT9WQ0kHFz4ufKTtn8T1bNVNpvdzYb2Mi'
# access_token= '1301516905136771072-TrLtF8u5u0pUBmkSULnErXQcuyVk9i'
# access_token_secret= 'hxCKEmbRNE1w0kn0H1owznIQJfuSjDGF3AaZLBCXgqQBO'
    
# auth = tw.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_token_secret)
# api = tw.API(auth, wait_on_rate_limit=True)

# user_locs = [n for n in df['user']]

# the screen name of the user 

# location_final = []
# for xi in user_locs:
    
#     screen_name = xi

#     # fetching the user 
#     user = api.get_user(screen_name) 

#     # fetching the name 
#     name = user.name 

#     location = user.location

#     if location == "": 
#         location_final.append("The user has not mentioned their location.") 
#     else: 
#         location_final.append(location) 
        
#     time.sleep(3)
    
# df['location'] = location_final

df

                                                 tweets             user
0                            Aaaaand my power went out            Tex_tR
1     Action-packed gameplay, an original cinematic ...     PlayAvengers
2     my power really went out for almost 2 hours th...      samlopezz03
3     My power went out with my finished 3d model le...  Chicken_Nuggie2
4     Okay this is when the power went out in the th...        SumoYokai
...                                                 ...              ...
7780  A knife in my heart couldn't slow me down 'Cau...         aes_lulu
7781  "I'm trying real hard to look like I care but ...   Strongisgentle
7782  Folks when OUR President is re-elected (and he...  Freedomfriend64
7783  Anteaters Everyday: Lunch Time Day 3 The subti...        powerJAMM
7784  @Shawhelp my internet seems to have gone down....      RichSeviora

[7785 rows x 2 columns]

In [74]:
df.head(3)

                                              tweets          user
0                         Aaaaand my power went out         Tex_tR
1  Action-packed gameplay, an original cinematic ...  PlayAvengers
2  my power really went out for almost 2 hours th...   samlopezz03

In [75]:
df.drop_duplicates().reset_index().drop(columns='index')

                                                 tweets             user
0                            Aaaaand my power went out            Tex_tR
1     Action-packed gameplay, an original cinematic ...     PlayAvengers
2     my power really went out for almost 2 hours th...      samlopezz03
3     My power went out with my finished 3d model le...  Chicken_Nuggie2
4     Okay this is when the power went out in the th...        SumoYokai
...                                                 ...              ...
7029  I'm only a vehement feminist radical in the da...         beanetry
7030  "I'm trying real hard to look like I care but ...   Strongisgentle
7031  Folks when OUR President is re-elected (and he...  Freedomfriend64
7032  Anteaters Everyday: Lunch Time Day 3 The subti...        powerJAMM
7033  @Shawhelp my internet seems to have gone down....      RichSeviora

[7034 rows x 2 columns]

In [45]:
user[0][0]

'rynertia'

## **Finalized DataFrame**

In [46]:
# This functions will splits the pulled user name into a list of strings in a list
def split(users):
    fin_user = []
    for xi in users:
        for n in xi:
            fin_user.append(n.split(","))
            
    return fin_user

users = split(user) # This is calling the function

hmm = [tweet[0] for sublist in tweets for tweet in sublist] # This gets us the string of the tweet before it was a list of list of lists


fin_user = [''.join(ele) for ele in users] # This gets rid of the [] around the individual stringed usernames
df = pd.DataFrame({'tweets': hmm, 
                   'user': fin_user
                  })

In [47]:
df.head(1)

                                              tweets      user
0  i breathed so hard into my mic that my houses ...  rynertia

## **Adding Location Using Tweepy**

In [48]:
consumer_key= 'nOj8CQ7XjcNbTS9fFPp6wUNQF'
consumer_secret= '0VtlM5UXl2ZLAL0WMMT9WQ0kHFz4ufKTtn8T1bNVNpvdzYb2Mi'
access_token= '1301516905136771072-TrLtF8u5u0pUBmkSULnErXQcuyVk9i'
access_token_secret= 'hxCKEmbRNE1w0kn0H1owznIQJfuSjDGF3AaZLBCXgqQBO'

In [49]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [50]:
user_locs = [n for n in df['user']]
user_locs[0]

'rynertia'

In [51]:
# the screen name of the user 
location_final = []
for xi in user_locs:
    
    screen_name = xi

    # fetching the user 
    user = api.get_user(screen_name) 

    # fetching the name 
    name = user.name 

    location = user.location

    if location == "": 
        location_final.append("The user has not mentioned their location.") 
    else: 
        location_final.append(location) 
        
    time.sleep(3)

In [52]:
location_final[0]

'The user has not mentioned their location.'

In [53]:
df['location'] = location_final

In [54]:
df

,tweets,user,location
0,i breathed so hard into my mic that my houses ...,rynertia,The user has not mentioned their location.
1,"Action-packed gameplay, an original cinematic ...",PlayAvengers,"San Francisco, CA"
2,my power just went completely out,gldencherry_,she/her
3,my power just went out,goIdentayIor,⅖ || wendy🤍 || 17 || lesbian
4,Today was an eventful day. I got most of my tr...,Boopcosplay,"Leicester, England"
...,...,...,...
678,Just lost power. I hate everything sadKEK http...,NachoOtter,"Michigan, USA"
679,"“In my opinion, the current president is tryin...",FreedomEnslaves,London Town
680,ai dungeon: huh? i thought lost was a girl me:...,guppystail,some dark place
681,I’m so blessed to work with these GKs every we...,ItsJustKelsss1,The user has not mentioned their location.
682,@TheCatOnFox can you ask. Im a coach and ive w...,marcusdinora,"Springfield, IL"

In [61]:
df['tweets']

0      i breathed so hard into my mic that my houses ...
1      Action-packed gameplay, an original cinematic ...
2                     my power just went completely out
3                                 my power just went out
4      Today was an eventful day. I got most of my tr...
                             ...
678    Just lost power. I hate everything sadKEK http...
679    “In my opinion, the current president is tryin...
680    ai dungeon: huh? i thought lost was a girl me:...
681    I’m so blessed to work with these GKs every we...
682    @TheCatOnFox can you ask. Im a coach and ive w...
Name: tweets, Length: 683, dtype: object