1.    

```SQL  
sql = """
SELECT *
FROM animals
"""
df = sqldf(sql)
df.head(10)  
```

2.  

```SQL  
sql = """
SELECT DISTINCT a.breed
FROM animals as a
"""

df = sqldf(sql)
df.head()  
```

3.  

```SQL  
sql = """
SELECT a.age, a.weight
FROM animals as a
WHERE a.type = "dog" 
AND a.color = "black"
"""

df = sqldf(sql)
df.head()  
```

4.  

```SQL  
sql = """
SELECT a.type, a.breed
FROM animals as a
WHERE a.weight > 55
"""

df = sqldf(sql)
df.head()  
```

5.  

```SQL  
sql = """
SELECT *
FROM customers
WHERE email LIKE "%@gmail.com"
"""

df = sqldf(sql)
df.head()  
```

6.   

```SQL  
sql = """
SELECT breed, AVG(weight)
FROM animals
GROUP BY breed
HAVING AVG(weight) > 40
"""

df = sqldf(sql)
df.head()  
```

7.  

```SQL  
sql = """
SELECT c.last_name
FROM customers as c
INNER JOIN animals a ON a.id = c.pet_id
WHERE a.type = "cat" 
"""

df = sqldf(sql)  
df.head()  
```

8.   

```SQL
sql = """
SELECT AVG(a.age) as avg_age, a.type
FROM animals as a
GROUP BY a.type
"""

df = sqldf(sql)
df.head()
```

9.
```SQL
sql = """
SELECT COUNT(a.type)
FROM animals as a
INNER JOIN locations l ON l.id = a.id
WHERE a.type = "rabbit" 
AND l.state = "New York"
"""

df = sqldf(sql)
df.head()
```

10.
```SQL
sql = """
SELECT c.pet_id, a.breed, c.customer_id, l.city
FROM animals as a
INNER JOIN customers c ON c.pet_id = a.id
INNER JOIN locations l ON l.id = a.id
WHERE a.type = "dog" 
AND a.adopted = "Yes" 
OR a.adopted = "yes"
ORDER BY a.breed
"""

df = sqldf(sql)
df.head()
```