# **Tuned Model**

In this notebook we take information learned from our previous notebooks to tune our model to the best fit possible. The models in this notebook represent the best possible models from many iterations. The first model presented includes all feature columns, the second model presented has the features of work class and native country removed.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, mean_squared_error, f1_score, plot_confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import export_graphviz
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
train = pd.read_csv('./data/large_train_sample.csv')
test = pd.read_csv('./data/test_data.csv')

In [3]:
print(f'Train csv shape is {train.shape}')
print(f'Test csv shape is {test.shape}')

Train csv shape is (32561, 14)
Test csv shape is (16281, 13)

In [4]:
# We have imbalanced classes
train['wage'].value_counts(normalize=True)

 <=50K    0.75919
 >50K     0.24081
Name: wage, dtype: float64

In [5]:
#Credit to Chris

# Function that generates all the value counts for each column

def columns_values(dataframe):
    for n in dataframe.columns:                               # cycle through the columns in dataframe
        column = n  
        value_counts = (dataframe[column].value_counts())     # run value counts for each column
        unique_values = (dataframe[column].unique())          # run unique values for each column 
        len_counts = len(value_counts)                        # how many items are counted in value counts
        len_unique = len(unique_values)                       # how many items are counted in unique values
        if (len(value_counts)< 100):                          # ignore columns where counts over 100
                print(f"{column} has length of {len_unique}") # print how many unique values there are
                print(unique_values)                          # print unique values for column 
                print("="*30)                                  
                print(f"{column} has length of {len_counts}") # print how many values are counted
                print(value_counts)                           # print unique values counted
                print("="*60)

In [6]:
train_columns = columns_values(train)

age has length of 73
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
==============================
age has length of 73
36    898
31    888
34    886
23    877
35    876
33    875
28    867
30    861
37    858
25    841
27    835
32    828
38    827
39    816
29    813
41    808
24    798
40    794
26    785
42    780
43    770
22    765
20    753
46    737
45    734
44    724
21    720
19    712
47    708
50    602
51    595
49    577
18    550
48    543
52    478
53    464
55    419
54    415
17    395
58    366
56    366
57    358
59    355
60    312
61    300
62    258
63    230
64    208
65    178
67    151
66    150
68    120
69    108
70     89
71     72
72     67
73     64
74     51
76     46
75     45
90     43
77     29
78     23
80     22
79     22
81     20
82     12
84     10
83      6
85      3
88      3
87      1
86      1
Name: age, dtype: int64
============================================================
workclass has length of 9
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
==============================
workclass has length of 9
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
============================================================
education has length of 16
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
==============================
education has length of 16
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
============================================================
education-num has length of 16
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
==============================
education-num has length of 16
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64
============================================================
marital-status has length of 7
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
==============================
marital-status has length of 7
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64
============================================================
occupation has length of 15
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
==============================
occupation has length of 15
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
============================================================
relationship has length of 6
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
==============================
relationship has length of 6
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
============================================================
sex has length of 2
[' Male' ' Female']
==============================
sex has length of 2
 Male      21790
 Female    10771
Name: sex, dtype: int64
============================================================
capital-loss has length of 92
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
==============================
capital-loss has length of 92
0       31042
1902      202
1977      168
1887      159
1848       51
1485       51
2415       49
1602       47
1740       42
1590       40
1876       39
1672       34
1564       25
2258       25
1669       24
1741       24
2001       24
1980       23
1719       22
2002       21
2051       21
1408       21
1579       20
2377       20
1721       18
1504       18
1974       18
2339       17
2179       15
1628       15
1762       14
2444       12
2559       12
625        12
2824       10
2042        9
1617        9
2205        9
1651        9
2392        9
1594        8
1340        7
1380        7
1092        7
2174        7
1573        6
880         6
2246        6
2057        6
2206        6
2603        5
1668        4
1825        4
1258        4
2547        4
1726        4
213         4
2457        3
2129        3
653         3
2231        3
419         3
323         3
4356        3
2267        3
3683        2
1755        2
2352        2
1648        2
1138        2
810         2
1735        2
2238        2
2754        2
3004        2
3900        2
974         2
2149        2
1816        2
3770        2
2080        1
2489        1
2282        1
2163        1
155         1
2467        1
1844        1
1411        1
1539        1
2472        1
1944        1
2201        1
Name: capital-loss, dtype: int64
============================================================
hours-per-week has length of 94
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
==============================
hours-per-week has length of 94
40    15217
50     2819
45     1824
60     1475
35     1297
20     1224
30     1149
55      694
25      674
48      517
38      476
15      404
70      291
10      278
32      266
24      252
65      244
36      220
42      219
44      212
16      205
12      173
43      151
37      149
8       145
52      138
80      133
56       97
28       86
99       85
46       82
18       75
72       71
75       66
6        64
5        60
4        54
47       49
84       45
22       44
54       41
3        39
33       39
39       38
41       36
14       34
2        32
27       30
26       30
17       29
49       29
90       29
58       28
34       28
7        26
53       25
21       24
13       23
23       21
1        20
62       18
9        18
66       17
57       17
19       14
64       14
51       13
85       13
68       12
98       11
11       11
63       10
78        8
29        7
77        6
59        5
31        5
96        5
67        4
91        3
76        3
81        3
73        2
89        2
97        2
88        2
86        2
61        2
95        2
92        1
94        1
87        1
74        1
82        1
Name: hours-per-week, dtype: int64
============================================================
native-country has length of 42
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
==============================
native-country has length of 42
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64
============================================================
wage has length of 2
[' <=50K' ' >50K']
==============================
wage has length of 2
 <=50K    24720
 >50K      7841
Name: wage, dtype: int64
============================================================

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   sex             32561 non-null  object
 9   capital-gain    32561 non-null  int64
 10  capital-loss    32561 non-null  int64
 11  hours-per-week  32561 non-null  int64
 12  native-country  32561 non-null  object
 13  wage            32561 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.5+ MB

In [8]:
train.head()

   age          workclass  fnlwgt   education  education-num       marital-status          occupation    relationship      sex  capital-gain  capital-loss  hours-per-week  native-country    wage
0   39          State-gov   77516   Bachelors             13        Never-married        Adm-clerical   Not-in-family     Male          2174             0              40   United-States   <=50K
1   50   Self-emp-not-inc   83311   Bachelors             13   Married-civ-spouse     Exec-managerial         Husband     Male             0             0              13   United-States   <=50K
2   38            Private  215646     HS-grad              9             Divorced   Handlers-cleaners   Not-in-family     Male             0             0              40   United-States   <=50K
3   53            Private  234721        11th              7   Married-civ-spouse   Handlers-cleaners         Husband     Male             0             0              40   United-States   <=50K
4   28            Private  338409   Bachelors             13   Married-civ-spouse      Prof-specialty            Wife   Female             0             0              40            Cuba   <=50K

In [9]:
# Binarizing Wage Column

train['wage'] = pd.get_dummies(train['wage'], drop_first=True)

In [10]:
# Baseline Accuracy Score

train['wage'].value_counts(normalize=True)

0    0.75919
1    0.24081
Name: wage, dtype: float64

In [11]:
# Descriptive Statistics of numeric data prior to handling outliers

train.describe()

                age        fnlwgt  education-num  capital-gain  capital-loss  hours-per-week          wage
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000    32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830       40.437456      0.240810
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219       12.347429      0.427581
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000        1.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000       40.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000       40.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000       45.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000       99.000000      1.000000

In [12]:
# Shape of data prior to handling outliers
print(f'Train csv shape is {train.shape}')
print(f'Test csv shape is {test.shape}')

Train csv shape is (32561, 14)
Test csv shape is (16281, 13)

In [13]:
train_col = ['age',
            'fnlwgt',
            'education-num',
            'capital-gain',
            'capital-loss',
            'hours-per-week',
            'wage'    
            ]

In [14]:
for col in train[train_col]:
    outlier = abs(train[col].std() * 3) + abs(train[col].mean())
    train.drop(train[train[col] > outlier].index, inplace=True)

In [15]:
# Descriptive Statistics of numeric data after handling outliers

train.describe()

                age         fnlwgt  education-num  capital-gain  capital-loss  hours-per-week          wage
count  30108.000000   30108.000000   30108.000000  30108.000000  30108.000000    30108.000000  30108.000000
mean      38.226485  185488.998738      10.022486    567.151156      1.212037       39.784011      0.221503
std       13.424234   94667.976151       2.538230   2326.937114     32.648206       11.294637      0.415265
min       17.000000   12285.000000       1.000000      0.000000      0.000000        1.000000      0.000000
25%       27.000000  117606.000000       9.000000      0.000000      0.000000       40.000000      0.000000
50%       37.000000  177817.000000      10.000000      0.000000      0.000000       40.000000      0.000000
75%       47.000000  234723.500000      12.000000      0.000000      0.000000       45.000000      0.000000
max       79.000000  506436.000000      16.000000  22040.000000   1258.000000       77.000000      1.000000

In [16]:
# Shape of data after handling outliers
print(f'Train csv shape is {train.shape}')

Train csv shape is (30108, 14)

In [ ]:
# # Not using Work Class and Native Country
# def dummies(train, test):
# #     train['wage'] = pd.get_dummies(train['wage'], drop_first=True)
#     dums_train = pd.get_dummies(train[['education', 'marital-status', 'occupation', 'relationship', 'sex']], drop_first=True)
#     dums_test = pd.get_dummies(test[['education', 'marital-status', 'occupation', 'relationship', 'sex']], drop_first=True)
#     final_train = train.join(dums_train)
#     final_test = test.join(dums_test)
#     final_train.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
#     final_test.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
#     return final_train, final_test

In [17]:
# Baseline after removing outliers

train['wage'].value_counts(normalize=True)

0    0.778497
1    0.221503
Name: wage, dtype: float64

In [ ]:
# train_df, test_df = dummies(train, test)

In [ ]:
# train_df.shape

In [ ]:
# test_df.shape

In [ ]:
# set(train_df.columns) - set(test_df.columns)

In [ ]:
# set(test_df.columns) - set(train_df.columns)

In [ ]:
# train_df = train_df.drop(columns='native-country_ Holand-Netherlands')

# Model with all Parameters

In [18]:
# function that will dummify the categorical columns in each set, and combine them with the original dataframes
def dummies_all(train, test):
    train['wage'] = pd.get_dummies(train['wage'], drop_first=True)
    dums_train = pd.get_dummies(train[['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country']], drop_first=True)
    dums_test = pd.get_dummies(test[['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country']], drop_first=True)
    final_train = train.join(dums_train)
    final_test = test.join(dums_test)
    final_train.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
    final_test.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
    return final_train, final_test

In [19]:
train_df_all, test_df_all = dummies_all(train, test)

In [22]:
# Shape of data after dummifying features
print(f'Train_df_all dataframe shape is {train_df_all.shape}')
print(f'Test_df_all dataframe shape is {test_df_all.shape}')

Train_df_all dataframe shape is (30108, 96)
Test_df_all dataframe shape is (16281, 95)

(30108, 96)

In [23]:
# Check for differences

set(train_df_all.columns) - set(test_df_all.columns)

{'wage'}

In [24]:
# Check for differences

set(test_df_all.columns) - set(train_df_all.columns)

set()

In [25]:
X_all = train_df_all.drop(columns=['wage'])
y_all = train_df_all['wage']

In [26]:
print(X_all.shape)
print(y_all.shape)

(30108, 95)
(30108,)

In [27]:
# Instantiate Standard Scaler

sc = StandardScaler()

# Create train/test split on all features training dataframe

X_train_all, X_test_all, y_train_all, y_test_all = train_test_split(X_all, y_all, stratify=y_all, random_state=42)

# Fiting to the training data, and transforming training and testing data

X_train_sc_all = sc.fit_transform(X_train_all)
X_test_sc_all = sc.transform(X_test_all)

In [31]:
#Instantiate Random Forest

rf = RandomForestClassifier()

# Setting our parameters for the random forest to be used in the gridsearch, 
# the below parameters represent the best after many iterations

rf_params_all = {
    'max_depth' : [9],
    'min_samples_leaf' : [3],
    'min_samples_split' : [6],
    'n_estimators' : [37],
    'ccp_alpha' : [1, .1, .01, .001, .0001],
#     'gamma' : .
    'verbose' : [1]
}

# Instantiate the Gridsearch 

gs_all = GridSearchCV(rf, param_grid=rf_params_all, cv=5, n_jobs=-1)

# fit the gridsearch to the all features training data 

gs_all.fit(X_train_sc_all, y_train_all);

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    1.0s finished

In [32]:
print(f'Tuned Model All Features Train Score: {round(gs_all.score(X_train_sc_all, y_train_all)*100, 2)}%')
print(f'Tuned Model All Features Test Score: {round(gs_all.score(X_test_sc_all, y_test_all)*100, 2)}%')
print(f'Tuned Modeal All Features Gridsearch Best Parameters are {gs_all.best_params_}')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Tuned Model All Features Train Score: 85.55%
Tuned Model All Features Test Score: 85.44%
Tuned Modeal All Features Gridsearch Best Parameters are {'ccp_alpha': 0.0001, 'max_depth': 9, 'min_samples_leaf': 3, 'min_samples_split': 6, 'n_estimators': 37, 'verbose': 1}

[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    0.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    0.1s finished

# Model with workclass and native country removed

In [33]:
# Has all the features to dummify except for work class and native country

def dummies(train, test):
    train['wage'] = pd.get_dummies(train['wage'], drop_first=True)
    dums_train = pd.get_dummies(train[['education', 'marital-status', 'occupation', 'relationship', 'sex']], drop_first=True)
    dums_test = pd.get_dummies(test[['education', 'marital-status', 'occupation', 'relationship', 'sex']], drop_first=True)
    final_train = train.join(dums_train)
    final_test = test.join(dums_test)
    final_train.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
    final_test.drop(columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country'], inplace=True)
    return final_train, final_test

In [34]:
train_df, test_df = dummies(train, test)

In [35]:
train_df.shape

(30108, 48)

In [36]:
test_df.shape

(16281, 47)

In [37]:
# Check for differences

set(train_df.columns) - set(test_df.columns)

{'wage'}

In [38]:
# Check for differences

set(test_df.columns) - set(train_df.columns)

set()

In [39]:
X = train_df.drop(columns=['wage'])
y = train_df['wage']

In [40]:
print(X.shape)
print(y.shape)

(30108, 47)
(30108,)

In [42]:
# Create train/test split on all features training dataframe

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# fit the gridsearch to the all features training data 

X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [43]:
# Setting our parameters for the random forest to be used in the gridsearch, 
# the below parameters represent the best after many iterations

rf_params = {
    'max_depth' : [9],
    'min_samples_leaf' : [3],
    'min_samples_split' : [6],
    'n_estimators' : [37],
    'ccp_alpha' : [1, .1, .01, .001, .0001],
#     'gamma' : .
    'verbose' : [1]
}

# Instantiate the Gridsearch 

gs = GridSearchCV(rf, param_grid=rf_params, cv=5, n_jobs=-1)

# fit the gridsearch to the all features training data 

gs.fit(X_train_sc, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    2.7s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'ccp_alpha': [1, 0.1, 0.01, 0.001, 0.0001],
                         'max_depth': [9], 'min_samples_leaf': [3],
                         'min_samples_split': [6], 'n_estimators': [37],
                         'verbose': [1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [44]:
print(f'Tuned Model Limited Features Train Score: {round(gs.score(X_train_sc, y_train)*100, 2)}%')
print(f'Tuned Model Limited Features Test Score: {round(gs.score(X_test_sc, y_test)*100, 2)}%')
print(f'Tuned Modeal All Features Gridsearch Best Parameters are {gs.best_params_}')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Train Score: 85.7%
Test Score: 85.6%
Tuned Modeal All Features Gridsearch Best Parameters are {'ccp_alpha': 0.0001, 'max_depth': 9, 'min_samples_leaf': 3, 'min_samples_split': 6, 'n_estimators': 37, 'verbose': 1}

[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    0.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    0.1s finished

In [ ]:
# We found that workclass and native_country has no impact on the Score

In [45]:
# Now we will get the best parameters on this new model with gridserach
# After many attempts, these parameters gave the best fit
rf_params = {
    'max_depth' : [7, 9, 11, 14],
    'min_samples_leaf' : [2, 3, 4, 5],
    'min_samples_split' : [4, 6, 8, 10],
    'n_estimators' : [34, 37, 40],
    'ccp_alpha' : [1, .1, .01, .001, .0001],
#     'gamma' : .
    'verbose' : [1]
}
gs = GridSearchCV(rf, param_grid=rf_params, cv=5, n_jobs=-1)
gs.fit(X_train_sc, y_train)

KeyboardInterrupt:

In [ ]:
gs.best_params_

In [ ]:
print(f'Tuned Model Limited Features Train Score: {round(gs.score(X_train_sc, y_train)*100, 2)}%')
print(f'Tuned Model Limited Features Test Score: {round(gs.score(X_test_sc, y_test)*100, 2)}%')
print(f'Tuned Model Limited Features Gridsearch Best Parameters are {gs.best_params_}')

# Visualizations

In [ ]:
# Get predictions for Simple Logisitic Regression

preds = gs.predict(X_test_sc)

# Confusion matrix values

TN, FP, FN, TP = confusion_matrix(y_test, preds).ravel()

In [ ]:
plot_confusion_matrix(gs, X_test_sc, y_test, cmap='Blues', normalize='true');
plt.title('Confusion Matrix for Tuned Features', size = 15);

In [ ]:
# Accuracy:  # What percentage of observation did I correctly predict?

print(f"The Accuracy score is: {round((TP + TN) / (TP + TN + FP + FN), 3) * 100}%")
# Misclassification: # What percentage of observation did I incorrectly predict?

print(f"The Missclassification rate is: {round((FP + FN) / (TP + TN + FP + FN), 4) * 100}%")
# Sensitivity:  # Among Positives, how many did I get correctly? Same as recall

print(f"The Sensitivity is: {round(TP / (TP + FN), 3) * 100}%")

# Specificity:  # Among Negatives, how many did I get correctly?
print(f"The Specificity is: {round(TN / (TN + FP), 3) * 100}%")

# Precision: # Among Positives, how many did i Predict correct

print(f"The Precision is {round(TP / (TP + FP), 4) * 100}%")

# Predictions

In [ ]:
## UNCOMMENT THE BELOW LINES TO MAKE NEW CSV FOR PREDICTIONS

In [ ]:
## Scale the testing data
# s_test = StandardScaler()
# scaled_test = s_test.fit_transform(test_df)

In [ ]:
# y_preds = gs.predict(scaled_test)

In [ ]:
# wage_predictions = pd.DataFrame({'wage': y_preds})

In [ ]:
# wage_predictions.to_csv('./data/wage_predictions.csv', index=False)

In [ ]:
# wage_predictions

In [ ]:
# test.shape