<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Lab 3.02: Statistical Modeling and Model Validation

> Authors: Tim Book, Matt Brems

---

## Objective
The goal of this lab is to guide you through the modeling workflow. In this lesson, you will follow all best practices when slicing your data and validating your model. The goal of this lab is not necessarily to build the best model you can, but to build and evaluate a model, and interpret its results.

## Imports

In [1]:
# Import everything you need here.
# You may want to return to this cell to import more things later in the lab.
# DO NOT COPY AND PASTE FROM OUR CLASS SLIDES!
# Muscle memory is important!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Read Data
The `citibike` dataset consists of Citi Bike ridership data for over 224,000 rides in February 2014.

In [2]:
# Read in the citibike data in the data folder in this repository.
citibike = pd.read_csv('./data/citibike_feb2014.csv')

## Explore the data
Use this space to familiarize yourself with the data.

Convince yourself there are no issues with the data. If you find any issues, clean them here.

In [3]:
citibike.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1

In [4]:
# Birth year should be an integer
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224736 entries, 0 to 224735
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             224736 non-null  int64
 1   starttime                224736 non-null  object
 2   stoptime                 224736 non-null  object
 3   start station id         224736 non-null  int64
 4   start station name       224736 non-null  object
 5   start station latitude   224736 non-null  float64
 6   start station longitude  224736 non-null  float64
 7   end station id           224736 non-null  int64
 8   end station name         224736 non-null  object
 9   end station latitude     224736 non-null  float64
 10  end station longitude    224736 non-null  float64
 11  bikeid                   224736 non-null  int64
 12  usertype                 224736 non-null  object
 13  birth year               224736 non-null  object
 14  gender                   224736 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 25.7+ MB

In [5]:
# How to change the 
citibike['birth year'].unique()

array(['1991', '1979', '1948', '1981', '1990', '1978', '1944', '1983',
       '1969', '1986', '1962', '1965', '1942', '1989', '1980', '1957',
       '1951', '1992', '1971', '1982', '1968', '1984', '\\N', '1956',
       '1987', '1985', '1996', '1975', '1988', '1974', '1972', '1959',
       '1973', '1977', '1976', '1953', '1993', '1970', '1963', '1967',
       '1966', '1960', '1961', '1994', '1958', '1955', '1946', '1964',
       '1900', '1995', '1954', '1952', '1949', '1947', '1941', '1938',
       '1950', '1945', '1997', '1934', '1940', '1939', '1936', '1943',
       '1935', '1937', '1922', '1932', '1907', '1926', '1899', '1901',
       '1917', '1910', '1933', '1921', '1927', '1913'], dtype=object)

In [7]:
def clean_by(cell):
    if cell == '\\N':
        return 1979
    else:
        return float(cell)

In [8]:
citibike['birth year'] = citibike['birth year'].map(clean_by)

In [9]:
citibike.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [10]:
# There are no null values
citibike.isna().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

### Is average trip duration different by gender?

Conduct a hypothesis test that checks whether or not the average trip duration is different for `gender=1` and `gender=2`. Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly!

In [11]:
citibike['gender'].value_counts()

1    176526
2     41479
0      6731
Name: gender, dtype: int64

**Null Hypothesis:** On average the trip duration is not different by gender.  
**Alternative Hypothesis:** On average the trip duration is different by gender.

In [12]:
from scipy import stats

In [13]:
trt = citibike[citibike['gender'] == 1]['tripduration']
ctrl = citibike[citibike['gender'] == 2]['tripduration']

In [14]:
# Conduct our t-test.
tt = stats.ttest_ind(trt, ctrl, equal_var=False)
tt

Ttest_indResult(statistic=-4.802922158264667, pvalue=1.5680482053980446e-06)

In [15]:
# Print the average of the control and experimental groups.
print(trt.mean())
print(ctrl.mean())

814.0324088236293
991.3610742785506

In [16]:
trt.mean() - ctrl.mean()

-177.3286654549213

In [17]:
tt.pvalue

1.5680482053980446e-06

**Answer:** 
Since our p-value is below our significance level of 0.05, we succeed in rejecting the null hypothesis.

### What numeric columns shouldn't be treated as numeric?

**Answer:** The columns 'start station id' should not  be treated as a numeric column.

### Dummify the `start station id` Variable

In [18]:
citibike['start station id'].value_counts()

293     2920
519     2719
497     2493
435     2403
521     2171
        ...
431       54
278       45
443       41
2005      36
320        4
Name: start station id, Length: 329, dtype: int64

In [19]:
df = pd.get_dummies(citibike['start station id'], drop_first=True)

In [20]:
citibike = citibike.join(df)

In [21]:
citibike

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,...,0,0,0,0,0,0,0,0,0,0
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,...,0,0,0,0,0,0,0,0,0,0
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,...,0,0,0,0,0,0,0,0,0,0
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,...,0,0,0,0,0,0,0,0,0,0
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,848,2014-02-28 23:57:13,2014-03-01 00:11:21,498,Broadway & W 32 St,40.748549,-73.988084,432,E 7 St & Avenue A,40.726218,...,0,0,0,0,0,0,0,0,0,0
224732,1355,2014-02-28 23:57:55,2014-03-01 00:20:30,470,W 20 St & 8 Ave,40.743453,-74.000040,302,Avenue D & E 3 St,40.720828,...,0,0,0,0,0,0,0,0,0,0
224733,304,2014-02-28 23:58:17,2014-03-01 00:03:21,497,E 17 St & Broadway,40.737050,-73.990093,334,W 20 St & 7 Ave,40.742388,...,0,0,0,0,0,0,0,0,0,0
224734,308,2014-02-28 23:59:10,2014-03-01 00:04:18,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,365,Fulton St & Grand Ave,40.682232,...,0,0,0,0,0,0,0,0,0,0
224735,603,2014-02-28 23:59:47,2014-03-01 00:09:50,252,MacDougal St & Washington Sq,40.732264,-73.998522,475,E 16 St & Irving Pl,40.735243,...,0,0,0,0,0,0,0,0,0,0

In [22]:
citibike.isna().sum()

tripduration          0
starttime             0
stoptime              0
start station id      0
start station name    0
                     ..
2017                  0
2021                  0
2022                  0
2023                  0
3002                  0
Length: 343, dtype: int64

In [23]:
citibike['birth year']

0         1991.0
1         1979.0
2         1948.0
3         1981.0
4         1990.0
           ...
224731    1976.0
224732    1985.0
224733    1968.0
224734    1982.0
224735    1960.0
Name: birth year, Length: 224736, dtype: float64

## Feature Engineering
Engineer a feature called `age` that shares how old the person would have been in 2014 (at the time the data was collected)
- Note: you will need to clean the data a bit.

In [24]:
citibike.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,...,0,0,0,0,0,0,0,0,0,0

In [25]:
citibike['age'] = 2014 - citibike['birth year']

## Split your data into train/test sets

Look at the size of your data. What is a good proportion for your split? **Justify your answer, considering the size of your data and the default split size in sklearn.**

Use the `tripduration` column as your `y` variable.

For your `X` variables, use `age`, `usertype`, `gender`, and the dummy variables you created from `start station id`. (Hint: You may find the Pandas `.drop()` method helpful here.)

In [26]:
citibike.columns

Index([           'tripduration',               'starttime',
                      'stoptime',        'start station id',
            'start station name',  'start station latitude',
       'start station longitude',          'end station id',
              'end station name',    'end station latitude',
       ...
                            2008,                      2009,
                            2010,                      2012,
                            2017,                      2021,
                            2022,                      2023,
                            3002,                     'age'],
      dtype='object', length=344)

In [27]:
dropped_df = citibike.drop(columns = ['tripduration', 'stoptime', 'start station name', 'start station longitude', 'end station name',
                        'starttime', 'start station id', 'start station latitude', 'end station id', 'end station id',
                                     'end station longitude', 'end station latitude', 'birth year'])

In [28]:
dropped_df.head(1)

,bikeid,usertype,gender,79,82,83,116,119,120,127,...,2008,2009,2010,2012,2017,2021,2022,2023,3002,age
0,21101,Subscriber,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0

In [29]:
user_dum = pd.get_dummies(dropped_df['usertype'], drop_first=True)

In [30]:
user_dum

        Subscriber
0                1
1                1
2                1
3                1
4                1
...            ...
224731           1
224732           1
224733           1
224734           1
224735           1

[224736 rows x 1 columns]

In [31]:
dropped_df = dropped_df.join(user_dum)

In [32]:
dropped_df.head(1)

,bikeid,usertype,gender,79,82,83,116,119,120,127,...,2009,2010,2012,2017,2021,2022,2023,3002,age,Subscriber
0,21101,Subscriber,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,1

In [48]:
X = dropped_df.drop(columns=['bikeid', 'usertype'])

In [49]:
X.head(1)

,gender,79,82,83,116,119,120,127,128,137,...,2009,2010,2012,2017,2021,2022,2023,3002,age,Subscriber
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,1

In [50]:
y = citibike['tripduration']

## Fit a Linear Regression model in `sklearn` predicting `tripduration`.

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = .65)

In [52]:
model = LinearRegression()

In [53]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [55]:
y_pred_test.mean()

876.5389452686321

In [56]:
model.score(X_train, y_train)

0.0054176987603250515

In [57]:
model.score(X_test, y_test)

-0.0031713904716592634

## Evaluate your model
Look at some evaluation metrics for **both** the training and test data. 
- How did your model do? Is it overfit, underfit, or neither?
- Does this model outperform the baseline? (e.g. setting $\hat{y}$ to be the mean of our training `y` values.)

The model was underfit. The

In [58]:
y_null = np.zeros_like(y_train)
y_null = y_null + citibike['tripduration'].mean()
y_null[0:5]

array([874.51980991, 874.51980991, 874.51980991, 874.51980991,
       874.51980991])

In [59]:
mean_squared_error(y_train, y_pred_train)

31803606.675827023

In [60]:
mean_squared_error(y_train, y_null, squared=False)

5654.807480337054

## Fit a Linear Regression model in `statsmodels` predicting `tripduration`.

In [64]:
import statsmodels.api as sm

In [66]:
mod = sm.OLS(y_train, X_train).fit()

In [67]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           tripduration   R-squared (uncentered):                   0.028
Model:                            OLS   Adj. R-squared (uncentered):              0.026
Method:                 Least Squares   F-statistic:                              12.87
Date:                Sun, 09 Aug 2020   Prob (F-statistic):                        0.00
Time:                        21:21:48   Log-Likelihood:                     -1.4690e+06
No. Observations:              146078   AIC:                                  2.939e+06
Df Residuals:                  145747   BIC:                                  2.942e+06
Df Model:                         331
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
gender       180.0216     38.551      4.670      0.000     104.463     255.581
79          1688.7289    291.411      5.795      0.000    1117.569    2259.889
82          2037.8557    410.172      4.968      0.000    1233.926    2841.786
83          1358.6681    422.466      3.216      0.001     530.644    2186.692
116         1089.2042    212.924      5.115      0.000     671.877    1506.532
119         1228.9840    958.470      1.282      0.200    -649.598    3107.566
120         1228.0125    728.919      1.685      0.092    -200.655    2656.680
127         1214.2890    238.608      5.089      0.000     746.622    1681.956
128         1211.5096    221.705      5.465      0.000     776.971    1646.048
137         1247.6230    326.852      3.817      0.000     607.000    1888.246
143         1199.1204    525.872      2.280      0.023     168.422    2229.819
144         1407.4494    795.618      1.769      0.077    -151.946    2966.845
146         1044.8581    320.649      3.259      0.001     416.392    1673.325
147         1458.1033    243.809      5.981      0.000     980.242    1935.964
150         1134.2439    311.233      3.644      0.000     524.233    1744.254
151         1131.9571    186.550      6.068      0.000     766.323    1497.591
152         1167.7653    367.260      3.180      0.001     447.943    1887.588
153         1103.2876    236.815      4.659      0.000     639.136    1567.440
157         1787.9666    421.137      4.246      0.000     962.547    2613.386
160         1417.2406    290.847      4.873      0.000     847.186    1987.295
161         1148.4031    218.344      5.260      0.000     720.454    1576.353
164         1318.3651    286.167      4.607      0.000     757.483    1879.247
167         1324.4526    243.839      5.432      0.000     846.533    1802.372
168         1269.7990    213.543      5.946      0.000     851.258    1688.340
173         1203.0610    244.252      4.925      0.000     724.332    1681.790
174         1276.9394    263.194      4.852      0.000     761.084    1792.795
195         2023.7785    284.166      7.122      0.000    1466.819    2580.738
212         1269.3493    237.627      5.342      0.000     803.606    1735.093
216         1353.2825    829.156      1.632      0.103    -271.846    2978.411
217         1449.0470    586.302      2.472      0.013     299.907    2598.187
218         1946.3651    828.617      2.349      0.019     322.293    3570.437
223         1409.0170    250.086      5.634      0.000     918.853    1899.181
224         1189.5476    322.246      3.691      0.000     557.952    1821.143
225         1322.7691    381.295      3.469      0.001     575.438    2070.100
228         1424.2142    287.871      4.947      0.000     859.992    1988.437
229         1137.7771    203.570      5.589      0.000     738.784    1536.770
232         1248.7626    619.584      2.015      0.044      34.389    2463.136
233         2191.5638    333.037      6.581      0.000    1538.818    2844.310
236         1183.3256    224.001      5.283      0.000     744.288    1622.363
237         1227.3485    231.881      5.293      0.000     772.866    1681.831
238         1543.1900    311.885      4.948      0.000     931.902    2154.477
239          940.4585    425.162      2.212      0.027     107.149    1773.768
241         1130.6907    569.467      1.986      0.047      14.547    2246.834
242         1367.8051    876.105      1.561      0.118    -349.343    3084.954
243         1053.6015    700.546      1.504      0.133    -319.454    2426.657
244         3555.9516    465.760      7.635      0.000    2643.071    4468.832
245         1167.1550    728.913      1.601      0.109    -261.499    2595.809
247         1184.9998    299.812      3.952      0.000     597.375    1772.625
248         1196.7941    485.971      2.463      0.014     244.300    2149.288
249         1583.6214    352.885      4.488      0.000     891.975    2275.268
250         1112.7763    391.489      2.842      0.004     345.466    1880.087
251         1120.7904    248.373      4.513      0.000     633.984    1607.596
252         2486.1339    287.378      8.651      0.000    1922.879    3049.389
253         1238.9406    856.309      1.447      0.148    -439.408    2917.289
254         1103.0227    277.060      3.981      0.000     559.991    1646.055
257         1142.3460    282.154      4.049      0.000     589.330    1695.361
258         1489.3103    574.921      2.590      0.010     362.476    2616.145
259         1685.9799    446.060      3.780      0.000     811.710    2560.249
260         1884.5425    395.451      4.766      0.000    1109.465    2659.619
261         1231.0577    455.371      2.703      0.007     338.539    2123.577
262         1715.5481    599.065      2.864      0.004     541.392    2889.704
263         1272.8982    246.398      5.166      0.000     789.964    1755.833
264         1079.2213    270.935      3.983      0.000     548.194    1610.248
265         1126.4098    279.699      4.027      0.000     578.206    1674.613
266         1426.6469    410.274      3.477      0.001     622.518    2230.776
267         1384.6821    362.098      3.824      0.000     674.977    2094.387
268         1150.2549    274.705      4.187      0.000     611.839    1688.671
270         1021.7344    358.270      2.852      0.004     319.532    1723.937
271         1500.6122    311.225      4.822      0.000     890.617    2110.608
274         1431.8802    494.443      2.896      0.004     462.782    2400.978
275         1132.3453    583.842      1.939      0.052     -11.973    2276.663
276         2374.9992    366.584      6.479      0.000    1656.502    3093.497
278         1570.1459   1089.874      1.441      0.150    -565.986    3706.278
279         1286.9790    622.674      2.067      0.039      66.550    2507.408
280         1166.4348    267.635      4.358      0.000     641.875    1690.994
281         2020.6426    257.421      7.850      0.000    1516.103    2525.182
282         2053.7106    604.263      3.399      0.001     869.367    3238.055
284         1429.9729    203.006      7.044      0.000    1032.084    1827.862
285         1070.0379    188.094      5.689      0.000     701.377    1438.699
289         1241.4038    722.722      1.718      0.086    -175.116    2657.924
290         1405.4888    313.199      4.488      0.000     791.626    2019.352
291         1203.1663    355.645      3.383      0.001     506.110    1900.223
293         1206.6321    159.205      7.579      0.000     894.593    1518.671
294         2382.7868    271.425      8.779      0.000    1850.798    2914.775
295         1197.8918    298.570      4.012      0.000     612.701    1783.083
296         1294.1281    287.794      4.497      0.000     730.057    1858.200
297         1240.9694    227.151      5.463      0.000     795.757    1686.182
298          972.0864    837.564      1.161      0.246    -669.522    2613.695
300         1086.6835    243.817      4.457      0.000     608.807    1564.560
301         1329.9072    229.891      5.785      0.000     879.326    1780.489
302         1243.8313    356.164      3.492      0.000     545.758    1941.905
303         1223.2004    286.622      4.268      0.000     661.427    1784.974
304         1683.2464    321.287      5.239      0.000    1053.530    2312.963
305         1515.9808    262.431      5.777      0.000    1001.620    2030.341
306         1208.8951    274.053      4.411      0.000     671.757    1746.033
307         1557.6542    241.261      6.456      0.000    1084.787    2030.522
308         1366.2250    336.874      4.056      0.000     705.959    2026.491
309         1156.4901    328.328      3.522      0.000     512.973    1800.007
310         1318.4750    371.261      3.551      0.000     590.810    2046.140
311         1046.7624    286.057      3.659      0.000     486.097    1607.428
312         1186.7429    226.958      5.229      0.000     741.910    1631.576
313         1706.5843    450.330      3.790      0.000     823.947    2589.221
314         3542.7072    536.799      6.600      0.000    2490.593    4594.822
315         2058.4327    411.339      5.004      0.000    1252.217    2864.649
316         1295.4837    313.008      4.139      0.000     681.994    1908.974
317         1243.6046    229.255      5.425      0.000     794.270    1692.939
318         1177.9071    195.108      6.037      0.000     795.500    1560.314
319         1320.4752    288.526      4.577      0.000     754.971    1885.980
320          850.9532   5647.322      0.151      0.880   -1.02e+04    1.19e+04
322         1120.7172    588.863      1.903      0.057     -33.443    2274.877
323         1362.6491    214.093      6.365      0.000     943.031    1782.268
324         1171.1663    377.028      3.106      0.002     432.199    1910.134
325         1290.5670    260.311      4.958      0.000     780.362    1800.772
326         1326.8938    224.340      5.915      0.000     887.193    1766.595
327         1476.3738    273.875      5.391      0.000     939.584    2013.163
328         1270.2597    326.959      3.885      0.000     629.426    1911.094
329         1155.3427    254.579      4.538      0.000     656.374    1654.312
330         1136.8151    306.658      3.707      0.000     535.772    1737.858
331         1268.1986    409.618      3.096      0.002     465.355    2071.043
332         1502.6382    455.636      3.298      0.001     609.600    2395.677
334         1275.8658    243.783      5.234      0.000     798.055    1753.676
335         1179.2662    221.590      5.322      0.000     744.953    1613.579
336         1283.0478    257.860      4.976      0.000     777.648    1788.448
337         1331.8337    347.507      3.833      0.000     650.726    2012.941
339         1471.7358    781.265      1.884      0.060     -59.529    3003.000
340         1214.2613    341.985      3.551      0.000     543.977    1884.546
341         1291.0721    394.632      3.272      0.001     517.601    2064.543
342         1379.1441    337.258      4.089      0.000     718.124    2040.164
343         3498.1499    604.160      5.790      0.000    2314.007    4682.292
344         1135.2544    492.718      2.304      0.021     169.536    2100.973
345         1163.7558    211.745      5.496      0.000     748.740    1578.772
346         1362.5744    278.404      4.894      0.000     816.909    1908.240
347         1488.7034    224.580      6.629      0.000    1048.531    1928.876
348         1378.0063    269.178      5.119      0.000     850.424    1905.589
349         1674.8000    371.165      4.512      0.000     947.324    2402.276
350         1425.0592    345.766      4.121      0.000     747.364    2102.754
351         1786.3010    413.958      4.315      0.000     974.952    2597.650
352         1201.2124    276.391      4.346      0.000     659.492    1742.933
353         1.153e+04    667.277     17.277      0.000    1.02e+04    1.28e+04
354         4115.2341    589.032      6.986      0.000    2960.743    5269.725
355         1215.8460    270.453      4.496      0.000     685.764    1745.928
356         1311.4613    355.256      3.692      0.000     615.167    2007.756
357         1138.5354    284.241      4.006      0.000     581.429    1695.642
358         1486.5062    202.920      7.326      0.000    1088.787    1884.225
359         1175.7240    261.426      4.497      0.000     663.335    1688.113
360         1376.9671    319.395      4.311      0.000     750.959    2002.975
361         1400.8668    247.044      5.671      0.000     916.666    1885.067
362         1131.1564    353.394      3.201      0.001     438.512    1823.801
363         1928.0675    286.550      6.729      0.000    1366.435    2489.700
364         1329.3524    499.635      2.661      0.008     350.078    2308.627
365         1991.5664    506.979      3.928      0.000     997.898    2985.235
366         1067.1796    365.419      2.920      0.003     350.965    1783.394
367         2160.9759    322.040      6.710      0.000    1529.784    2792.168
368         1443.4526    215.729      6.691      0.000    1020.628    1866.277
369         1104.0127    292.445      3.775      0.000     530.827    1677.199
372         1266.9285    886.425      1.429      0.153    -470.448    3004.305
373         1462.0945    551.060      2.653      0.008     382.028    2542.161
375         1241.1727    217.656      5.702      0.000     814.572    1667.773
376         1357.6962    298.126      4.554      0.000     773.375    1942.017
377         1255.7939    306.988      4.091      0.000     654.104    1857.483
379         1131.8344    199.686      5.668      0.000     740.453    1523.216
380         1559.8073    217.066      7.186      0.000    1134.362    1985.253
382         1124.3439    187.175      6.007      0.000     757.485    1491.203
383         1118.6298    328.029      3.410      0.001     475.698    1761.561
384         1899.6032    421.119      4.511      0.000    1074.218    2724.989
385         1398.7852    344.807      4.057      0.000     722.971    2074.599
386         1416.7646    329.231      4.303      0.000     771.479    2062.050
387         1659.3990    257.171      6.453      0.000    1155.350    2163.448
388         1219.9035    243.934      5.001      0.000     741.798    1698.009
389         1389.0443    625.290      2.221      0.026     163.488    2614.601
390         1119.2899    528.163      2.119      0.034      84.100    2154.480
391         1584.6388    418.863      3.783      0.000     763.675    2405.603
392         1763.2171    462.558      3.812      0.000     856.613    2669.821
393         1189.1756    291.651      4.077      0.000     617.545    1760.806
394         1552.0667    257.898      6.018      0.000    1046.591    2057.542
395         1748.4198    418.241      4.180      0.000     928.675    2568.165
396         1532.2455    562.964      2.722      0.006     428.847    2635.645
397         1316.8177    630.321      2.089      0.037      81.401    2552.235
398         1533.1777    512.450      2.992      0.003     528.786    2537.570
399         1257.5629    462.300      2.720      0.007     351.465    2163.661
400         1442.5281    473.057      3.049      0.002     515.345    2369.711
401         1203.6504    224.888      5.352      0.000     762.875    1644.425
402         1210.5126    194.368      6.228      0.000     829.555    1591.471
403         1200.1681    258.848      4.637      0.000     692.832    1707.504
404         1255.3669    259.798      4.832      0.000     746.169    1764.565
405         1377.1484    266.938      5.159      0.000     853.955    1900.342
406         1143.8913    441.764      2.589      0.010     278.043    2009.740
407         1726.2972    585.474      2.949      0.003     578.780    2873.815
408         1215.7850    481.447      2.525      0.012     272.159    2159.411
409         1381.8836    622.611      2.219      0.026     161.579    2602.188
410         1224.6543    237.369      5.159      0.000     759.416    1689.893
411         1279.6638    378.825      3.378      0.001     537.173    2022.154
412         1269.5643    305.167      4.160      0.000     671.443    1867.685
414         1718.2177    543.410      3.162      0.002     653.145    2783.290
415         1536.8465    340.254      4.517      0.000     869.955    2203.738
416         2924.8150    411.416      7.109      0.000    2118.447    3731.183
417         1325.2850    222.165      5.965      0.000     889.845    1760.725
418         1207.9863   1001.661      1.206      0.228    -755.249    3171.222
419         1976.6205    728.657      2.713      0.007     548.468    3404.773
420         1124.8652    532.365      2.113      0.035      81.441    2168.289
421         4366.6616    645.563      6.764      0.000    3101.371    5631.953
422         1474.7801    267.211      5.519      0.000     951.051    1998.509
423         1278.8774    440.227      2.905      0.004     416.041    2141.714
426         1408.5978    211.991      6.645      0.000     993.100    1824.096
427         1979.2696    437.136      4.528      0.000    1122.492    2836.047
428         1389.8903    231.145      6.013      0.000     936.852    1842.929
430         1519.5211    360.203      4.219      0.000     813.531    2225.511
431         1309.2121    958.900      1.365      0.172    -570.213    3188.637
432         1157.1703    235.234      4.919      0.000     696.117    1618.224
433         1205.0102    239.443      5.033      0.000     735.707    1674.314
434         1203.7206    306.287      3.930      0.000     603.405    1804.036
435         1418.8239    172.378      8.231      0.000    1080.966    1756.682
436         1383.0211    711.307      1.944      0.052     -11.127    2777.169
437         1354.8893    574.819      2.357      0.018     228.256    2481.523
438         1222.9839    239.295      5.111      0.000     753.971    1691.997
439         1268.2402    235.841      5.378      0.000     805.996    1730.484
440         1175.7918    300.106      3.918      0.000     587.590    1763.994
441         1329.1699    411.078      3.233      0.001     523.465    2134.875
442         1236.2825    207.980      5.944      0.000     828.647    1643.918
443         1322.5441   1090.805      1.212      0.225    -815.413    3460.501
444         1391.1145    200.254      6.947      0.000     998.622    1783.607
445         1242.5801    232.763      5.338      0.000     786.369    1698.791
446         1166.2759    213.881      5.453      0.000     747.073    1585.479
447         1521.3817    279.321      5.447      0.000     973.917    2068.846
448         1315.2457    247.173      5.321      0.000     830.791    1799.701
449         1304.2488    360.414      3.619      0.000     597.844    2010.654
450         1522.7786    266.512      5.714      0.000    1000.420    2045.138
453         1189.3938    237.749      5.003      0.000     723.411    1655.377
454         1274.5929    333.355      3.824      0.000     621.224    1927.961
455         1379.7736    338.930      4.071      0.000     715.477    2044.070
456         1580.3402    332.293      4.756      0.000     929.052    2231.628
457         1436.6456    243.537      5.899      0.000     959.318    1913.973
458         1265.5778    307.645      4.114      0.000     662.600    1868.556
459         1302.8608    240.923      5.408      0.000     830.657    1775.065
460         1283.0592    544.691      2.356      0.018     215.475    2350.643
461         1569.2206    230.213      6.816      0.000    1118.009    2020.433
462         1949.0122    234.566      8.309      0.000    1489.268    2408.757
463         1372.6754    234.736      5.848      0.000     912.597    1832.754

## Evaluate your model
Using the `statsmodels` summary, test whether or not `age` has a significant effect when predicting `tripduration`.
- Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly **in the context of your model**!

With this specific model age does not have a significant effect when predicting trip duration. Since we did 'get dummies' on the station id there are to many columns for the model which resulted in high variance. Since our p-value is below our significance level of 0.05, we succeed in rejecting the null hypothesis proving that on average the trip duration is different by gender.

## Citi Bike is attempting to market to people who they think will ride their bike for a long time. Based on your modeling, what types of individuals should Citi Bike market toward?

Based on our model it is hard to predict what types of individuals would ride their bikes for the longest. However, when looking at the raw numbers gender 2 has a higher average trip duration.