<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Lab 3.02: Statistical Modeling and Model Validation

> Authors: Tim Book, Matt Brems

---

## Objective
The goal of this lab is to guide you through the modeling workflow. In this lesson, you will follow all best practices when slicing your data and validating your model. The goal of this lab is not necessarily to build the best model you can, but to build and evaluate a model, and interpret its results.

## Imports

In [2]:
# Import everything you need here.
# You may want to return to this cell to import more things later in the lab.
# DO NOT COPY AND PASTE FROM OUR CLASS SLIDES!
# Muscle memory is important!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Read Data
The `citibike` dataset consists of Citi Bike ridership data for over 224,000 rides in February 2014.

In [5]:
# Read in the citibike data in the data folder in this repository.
citibike = pd.read_csv('./data/citibike_feb2014.csv')

## Explore the data
Use this space to familiarize yourself with the data.

Convince yourself there are no issues with the data. If you find any issues, clean them here.

In [7]:
citibike.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1

In [15]:
# Birth year should be an integer
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224736 entries, 0 to 224735
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             224736 non-null  int64
 1   starttime                224736 non-null  object
 2   stoptime                 224736 non-null  object
 3   start station id         224736 non-null  int64
 4   start station name       224736 non-null  object
 5   start station latitude   224736 non-null  float64
 6   start station longitude  224736 non-null  float64
 7   end station id           224736 non-null  int64
 8   end station name         224736 non-null  object
 9   end station latitude     224736 non-null  float64
 10  end station longitude    224736 non-null  float64
 11  bikeid                   224736 non-null  int64
 12  usertype                 224736 non-null  object
 13  birth year               224736 non-null  object
 14  gender                   224736 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 25.7+ MB

In [24]:
# How to change the 
citibike['birth year'].unique()

array(['1991', '1979', '1948', '1981', '1990', '1978', '1944', '1983',
       '1969', '1986', '1962', '1965', '1942', '1989', '1980', '1957',
       '1951', '1992', '1971', '1982', '1968', '1984', '\\N', '1956',
       '1987', '1985', '1996', '1975', '1988', '1974', '1972', '1959',
       '1973', '1977', '1976', '1953', '1993', '1970', '1963', '1967',
       '1966', '1960', '1961', '1994', '1958', '1955', '1946', '1964',
       '1900', '1995', '1954', '1952', '1949', '1947', '1941', '1938',
       '1950', '1945', '1997', '1934', '1940', '1939', '1936', '1943',
       '1935', '1937', '1922', '1932', '1907', '1926', '1899', '1901',
       '1917', '1910', '1933', '1921', '1927', '1913'], dtype=object)

In [54]:
count = 0
for n in dog['birth year']:
    count += int(n)
print(count/len(dog['birth year']))

1975.4975070980051

In [73]:
def clean_by(cell):
    if cell == '\\N':
        return 1979
    else:
        return float(cell)

In [74]:
citibike['birth year'] = citibike['birth year'].map(clean_by)

In [75]:
citibike.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [76]:
# There are no null values
citibike.isna().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

### Is average trip duration different by gender?

Conduct a hypothesis test that checks whether or not the average trip duration is different for `gender=1` and `gender=2`. Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly!

In [78]:
citibike['gender'].value_counts()

1    176526
2     41479
0      6731
Name: gender, dtype: int64

**Null Hypothesis:** On average the trip duration is not different by gender.  
**Alternative Hypothesis:** On average the trip duration is different by gender.

In [181]:
from scipy import stats

In [186]:
trt = citibike[citibike['gender'] == 1]['tripduration']
ctrl = citibike[citibike['gender'] == 2]['tripduration']

In [187]:
# Conduct our t-test.
tt = stats.ttest_ind(trt, ctrl, equal_var=False)
tt

Ttest_indResult(statistic=-4.802922158264667, pvalue=1.5680482053980446e-06)

In [188]:
# Print the average of the control and experimental groups.
print(trt.mean())
print(ctrl.mean())

814.0324088236293
991.3610742785506

In [189]:
trt.mean() - ctrl.mean()

-177.3286654549213

In [190]:
tt.pvalue

1.5680482053980446e-06

**Answer:** 
Since our p-value is below our significance level of 0.05, we succeed in rejecting the null hypothesis.

### What numeric columns shouldn't be treated as numeric?

**Answer:** The columns 'start station id' should not  be treated as a numeric column.

### Dummify the `start station id` Variable

In [81]:
citibike['start station id'].value_counts()

293     2920
519     2719
497     2493
435     2403
521     2171
        ...
431       54
278       45
443       41
2005      36
320        4
Name: start station id, Length: 329, dtype: int64

In [88]:
df = pd.get_dummies(citibike['start station id'], drop_first=True)

In [92]:
citibike = citibike.join(df)

In [93]:
citibike

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,...,0,0,0,0,0,0,0,0,0,0
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,...,0,0,0,0,0,0,0,0,0,0
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,...,0,0,0,0,0,0,0,0,0,0
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,...,0,0,0,0,0,0,0,0,0,0
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,848,2014-02-28 23:57:13,2014-03-01 00:11:21,498,Broadway & W 32 St,40.748549,-73.988084,432,E 7 St & Avenue A,40.726218,...,0,0,0,0,0,0,0,0,0,0
224732,1355,2014-02-28 23:57:55,2014-03-01 00:20:30,470,W 20 St & 8 Ave,40.743453,-74.000040,302,Avenue D & E 3 St,40.720828,...,0,0,0,0,0,0,0,0,0,0
224733,304,2014-02-28 23:58:17,2014-03-01 00:03:21,497,E 17 St & Broadway,40.737050,-73.990093,334,W 20 St & 7 Ave,40.742388,...,0,0,0,0,0,0,0,0,0,0
224734,308,2014-02-28 23:59:10,2014-03-01 00:04:18,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,365,Fulton St & Grand Ave,40.682232,...,0,0,0,0,0,0,0,0,0,0
224735,603,2014-02-28 23:59:47,2014-03-01 00:09:50,252,MacDougal St & Washington Sq,40.732264,-73.998522,475,E 16 St & Irving Pl,40.735243,...,0,0,0,0,0,0,0,0,0,0

In [94]:
citibike.isna().sum()

tripduration          0
starttime             0
stoptime              0
start station id      0
start station name    0
                     ..
2017                  0
2021                  0
2022                  0
2023                  0
3002                  0
Length: 343, dtype: int64

In [96]:
citibike['birth year']

0         1991.0
1         1979.0
2         1948.0
3         1981.0
4         1990.0
           ...
224731    1976.0
224732    1985.0
224733    1968.0
224734    1982.0
224735    1960.0
Name: birth year, Length: 224736, dtype: float64

## Feature Engineering
Engineer a feature called `age` that shares how old the person would have been in 2014 (at the time the data was collected)
- Note: you will need to clean the data a bit.

In [95]:
citibike.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,...,0,0,0,0,0,0,0,0,0,0

In [98]:
citibike['age'] = 2014 - citibike['birth year']

## Split your data into train/test sets

Look at the size of your data. What is a good proportion for your split? **Justify your answer, considering the size of your data and the default split size in sklearn.**

Use the `tripduration` column as your `y` variable.

For your `X` variables, use `age`, `usertype`, `gender`, and the dummy variables you created from `start station id`. (Hint: You may find the Pandas `.drop()` method helpful here.)

In [104]:
citibike.columns

Index([           'tripduration',               'starttime',
                      'stoptime',        'start station id',
            'start station name',  'start station latitude',
       'start station longitude',          'end station id',
              'end station name',    'end station latitude',
       ...
                            2008,                      2009,
                            2010,                      2012,
                            2017,                      2021,
                            2022,                      2023,
                            3002,                     'age'],
      dtype='object', length=344)

In [119]:
dropped_df = citibike.drop(columns = ['tripduration', 'stoptime', 'start station name', 'start station longitude', 'end station name',
                        'starttime', 'start station id', 'start station latitude', 'end station id', 'end station id',
                                     'end station longitude', 'end station latitude', 'birth year'])

In [120]:
dropped_df.head(1)

,bikeid,usertype,gender,79,82,83,116,119,120,127,...,2008,2009,2010,2012,2017,2021,2022,2023,3002,age
0,21101,Subscriber,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0

In [123]:
user_dum = pd.get_dummies(dropped_df['usertype'], drop_first=True)

In [125]:
user_dum

        Subscriber
0                1
1                1
2                1
3                1
4                1
...            ...
224731           1
224732           1
224733           1
224734           1
224735           1

[224736 rows x 1 columns]

In [149]:
dropped_df = dropped_df.join(user_dum)

In [150]:
dropped_df.head(1)

,bikeid,gender,79,82,83,116,119,120,127,128,...,2009,2010,2012,2017,2021,2022,2023,3002,age,Subscriber
0,21101,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,1

In [152]:
X = dropped_df.drop(columns='bikeid')

In [154]:
X.head(1)

,gender,79,82,83,116,119,120,127,128,137,...,2009,2010,2012,2017,2021,2022,2023,3002,age,Subscriber
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,1

In [155]:
y = citibike['tripduration']

## Fit a Linear Regression model in `sklearn` predicting `tripduration`.

In [165]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = .65)

In [166]:
model = LinearRegression()

In [167]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [168]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [172]:
y_pred_test.mean()

876.5389452686321

In [169]:
model.score(X_train, y_train)

0.0054176987603250515

In [170]:
model.score(X_test, y_test)

-0.0031713904716592634

## Evaluate your model
Look at some evaluation metrics for **both** the training and test data. 
- How did your model do? Is it overfit, underfit, or neither?
- Does this model outperform the baseline? (e.g. setting $\hat{y}$ to be the mean of our training `y` values.)

The model was underfit. The

In [173]:
y_null = np.zeros_like(y_train)
y_null = y_null + citibike['tripduration'].mean()
y_null[0:5]

array([874.51980991, 874.51980991, 874.51980991, 874.51980991,
       874.51980991])

In [175]:
mean_squared_error(y_train, y_pred_train)

31803606.675827023

In [174]:
mean_squared_error(y_train, y_null, squared=False)

5654.807480337054

## Fit a Linear Regression model in `statsmodels` predicting `tripduration`.

In [176]:
import statsmodels.api as sm

/Users/aidancurley/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [ ]:
statsmodels

In [177]:
mod = sm.OLS(y_train, X_train).fit()

In [178]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:           tripduration   R-squared (uncentered):                   0.028
Model:                            OLS   Adj. R-squared (uncentered):              0.026
Method:                 Least Squares   F-statistic:                              12.88
Date:                Fri, 07 Aug 2020   Prob (F-statistic):                        0.00
Time:                        19:49:27   Log-Likelihood:                     -1.4690e+06
No. Observations:              146078   AIC:                                  2.939e+06
Df Residuals:                  145747   BIC:                                  2.942e+06
Df Model:                         331
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
gender       180.1784     38.551      4.674      0.000     104.620     255.737
79          1661.4124    292.156      5.687      0.000    1088.792    2234.033
82          2010.2658    410.719      4.895      0.000    1205.266    2815.266
83          1331.6633    422.938      3.149      0.002     502.714    2160.613
116         1062.1962    213.880      4.966      0.000     642.995    1481.398
119         1202.8612    958.634      1.255      0.210    -676.043    3081.765
120         1201.2216    729.184      1.647      0.099    -227.965    2630.408
127         1187.0613    239.498      4.956      0.000     717.650    1656.473
128         1184.3530    222.642      5.320      0.000     747.980    1620.726
137         1220.3560    327.503      3.726      0.000     578.456    1862.256
143         1171.8927    526.275      2.227      0.026     140.405    2203.381
144         1380.9004    795.841      1.735      0.083    -178.933    2940.734
146         1017.2890    321.354      3.166      0.002     387.442    1647.136
147         1430.8700    244.679      5.848      0.000     951.304    1910.436
150         1107.7467    311.807      3.553      0.000     496.612    1718.881
151         1105.0947    187.594      5.891      0.000     737.415    1472.774
152         1140.3604    367.855      3.100      0.002     419.372    1861.348
153         1075.8264    237.753      4.525      0.000     609.836    1541.817
157         1760.8513    421.630      4.176      0.000     934.465    2587.238
160         1390.0067    291.580      4.767      0.000     818.516    1961.497
161         1121.4962    219.246      5.115      0.000     691.778    1551.214
164         1291.4904    286.857      4.502      0.000     729.255    1853.725
167         1297.3963    244.681      5.302      0.000     817.827    1776.965
168         1242.5649    214.542      5.792      0.000     822.067    1663.063
173         1175.9631    245.093      4.798      0.000     695.586    1656.340
174         1250.0991    263.931      4.736      0.000     732.800    1767.398
195         1996.7019    284.882      7.009      0.000    1438.339    2555.064
212         1242.2996    238.480      5.209      0.000     774.883    1709.716
216         1325.9498    829.418      1.599      0.110    -299.693    2951.592
217         1421.0311    586.674      2.422      0.015     271.162    2570.900
218         1919.2678    828.861      2.316      0.021     294.716    3543.820
223         1381.7730    250.938      5.506      0.000     889.940    1873.606
224         1162.4559    322.874      3.600      0.000     529.630    1795.282
225         1295.2412    381.866      3.392      0.001     546.791    2043.692
228         1396.9955    288.604      4.841      0.000     831.338    1962.653
229         1110.9115    204.532      5.431      0.000     710.033    1511.790
232         1221.7998    619.909      1.971      0.049       6.790    2436.810
233         2164.2670    333.685      6.486      0.000    1510.251    2818.283
236         1156.4876    224.868      5.143      0.000     715.751    1597.224
237         1200.6835    232.686      5.160      0.000     744.624    1656.743
238         1515.4635    312.633      4.847      0.000     902.709    2128.218
239          913.7262    425.610      2.147      0.032      79.539    1747.913
241         1103.7713    569.816      1.937      0.053     -13.056    2220.599
242         1341.2914    876.309      1.531      0.126    -376.257    3058.840
243         1026.5591    700.828      1.465      0.143    -347.051    2400.169
244         3529.3241    466.160      7.571      0.000    2615.661    4442.988
245         1140.3831    729.176      1.564      0.118    -288.787    2569.553
247         1157.7280    300.517      3.852      0.000     568.720    1746.736
248         1169.3527    486.424      2.404      0.016     215.972    2122.734
249         1556.4162    353.483      4.403      0.000     863.596    2249.236
250         1085.9089    391.989      2.770      0.006     317.619    1854.199
251         1094.0629    249.128      4.392      0.000     605.777    1582.349
252         2458.9794    288.093      8.535      0.000    1894.322    3023.637
253         1212.1686    856.532      1.415      0.157    -466.617    2890.954
254         1075.5767    277.860      3.871      0.000     530.977    1620.176
257         1115.1593    282.897      3.942      0.000     560.687    1669.632
258         1462.3524    575.268      2.542      0.011     334.838    2589.867
259         1658.1996    446.566      3.713      0.000     782.940    2533.459
260         1857.6293    395.948      4.692      0.000    1081.580    2633.679
261         1204.5873    455.761      2.643      0.008     311.306    2097.869
262         1688.5103    599.404      2.817      0.005     513.691    2863.330
263         1245.7451    247.243      5.039      0.000     761.155    1730.336
264         1052.3178    271.666      3.874      0.000     519.858    1584.777
265         1099.3268    280.433      3.920      0.000     549.683    1648.971
266         1399.9237    410.733      3.408      0.001     594.896    2204.952
267         1357.4948    362.678      3.743      0.000     646.653    2068.336
268         1123.1922    275.445      4.078      0.000     583.326    1663.058
270          995.0499    358.797      2.773      0.006     291.814    1698.286
271         1473.6178    311.875      4.725      0.000     862.348    2084.887
274         1404.9517    494.842      2.839      0.005     435.071    2374.833
275         1105.2278    584.198      1.892      0.059     -39.788    2250.243
276         2347.7356    367.163      6.394      0.000    1628.102    3067.369
278         1543.4201   1090.037      1.416      0.157    -593.031    3679.871
279         1259.4703    623.028      2.022      0.043      38.347    2480.594
280         1139.3784    268.407      4.245      0.000     613.306    1665.450
281         1993.2139    258.235      7.719      0.000    1487.078    2499.350
282         2025.7121    604.650      3.350      0.001     840.610    3210.814
284         1402.7180    204.064      6.874      0.000    1002.758    1802.679
285         1043.0775    189.154      5.514      0.000     672.340    1413.815
289         1215.0157    722.960      1.681      0.093    -201.972    2632.004
290         1378.4472    313.851      4.392      0.000     763.306    1993.588
291         1176.1710    356.211      3.302      0.001     478.004    1874.338
293         1179.6573    160.466      7.351      0.000     865.148    1494.167
294         2356.1877    272.097      8.659      0.000    1822.884    2889.492
295         1170.7659    299.270      3.912      0.000     584.202    1757.329
296         1266.7825    288.551      4.390      0.000     701.229    1832.336
297         1214.2610    227.979      5.326      0.000     767.426    1661.096
298          945.1869    837.797      1.128      0.259    -696.879    2587.252
300         1060.1045    244.567      4.335      0.000     580.759    1539.450
301         1303.1946    230.711      5.649      0.000     851.006    1755.383
302         1216.4089    356.791      3.409      0.001     517.106    1915.712
303         1196.1550    287.335      4.163      0.000     632.984    1759.326
304         1655.8477    321.961      5.143      0.000    1024.810    2286.885
305         1488.8075    263.230      5.656      0.000     972.883    2004.732
306         1182.0763    274.758      4.302      0.000     643.556    1720.597
307         1530.6853    242.093      6.323      0.000    1056.187    2005.183
308         1339.1082    337.490      3.968      0.000     677.634    2000.582
309         1129.7856    328.906      3.435      0.001     485.137    1774.435
310         1291.4128    371.809      3.473      0.001     562.675    2020.151
311         1019.5255    286.802      3.555      0.000     457.400    1581.651
312         1160.1046    227.774      5.093      0.000     713.671    1606.538
313         1680.1160    450.727      3.728      0.000     796.701    2563.531
314         3515.6199    537.181      6.545      0.000    2462.756    4568.484
315         2031.0789    411.862      4.931      0.000    1223.838    2838.320
316         1268.3725    313.676      4.044      0.000     653.573    1883.172
317         1217.0486    230.042      5.291      0.000     766.170    1667.927
318         1150.5193    196.237      5.863      0.000     765.898    1535.140
319         1293.3436    289.244      4.471      0.000     726.431    1860.256
320          824.8109   5647.331      0.146      0.884   -1.02e+04    1.19e+04
322         1092.9350    589.252      1.855      0.064     -61.987    2247.857
323         1335.8263    214.999      6.213      0.000     914.433    1757.219
324         1144.0257    377.583      3.030      0.002     403.970    1884.081
325         1263.6571    261.071      4.840      0.000     751.963    1775.351
326         1300.0699    225.202      5.773      0.000     858.678    1741.462
327         1449.1360    274.654      5.276      0.000     910.819    1987.453
328         1242.7959    327.637      3.793      0.000     600.634    1884.958
329         1128.2928    255.383      4.418      0.000     627.747    1628.839
330         1109.3452    307.394      3.609      0.000     506.860    1711.830
331         1241.1713    410.113      3.026      0.002     437.359    2044.984
332         1475.2073    456.117      3.234      0.001     581.227    2369.187
334         1248.6168    244.666      5.103      0.000     769.076    1728.157
335         1152.8106    222.388      5.184      0.000     716.934    1588.688
336         1256.4835    258.569      4.859      0.000     749.694    1763.273
337         1304.7639    348.091      3.748      0.000     622.512    1987.016
339         1444.7611    781.523      1.849      0.065     -87.008    2976.530
340         1187.5673    342.539      3.467      0.001     516.198    1858.937
341         1263.3048    395.237      3.196      0.001     488.648    2037.962
342         1351.7022    337.923      4.000      0.000     689.380    2014.024
343         3470.4391    604.526      5.741      0.000    2285.579    4655.299
344         1108.7027    493.088      2.248      0.025     142.261    2075.145
345         1136.5474    212.746      5.342      0.000     719.570    1553.525
346         1335.0640    279.212      4.782      0.000     787.814    1882.314
347         1461.4547    225.522      6.480      0.000    1019.435    1903.474
348         1350.7500    269.965      5.003      0.000     821.624    1879.876
349         1648.1273    371.667      4.434      0.000     919.667    2376.588
350         1397.6529    346.405      4.035      0.000     718.706    2076.600
351         1758.9368    414.474      4.244      0.000     946.576    2571.298
352         1173.9550    277.157      4.236      0.000     630.733    1717.177
353          1.15e+04    667.570     17.229      0.000    1.02e+04    1.28e+04
354         4088.4956    589.348      6.937      0.000    2933.384    5243.607
355         1189.1902    271.138      4.386      0.000     657.765    1720.616
356         1283.8184    355.913      3.607      0.000     586.235    1981.402
357         1111.4414    284.966      3.900      0.000     552.913    1669.970
358         1459.3537    203.942      7.156      0.000    1059.632    1859.075
359         1148.4887    262.244      4.379      0.000     634.495    1662.482
360         1349.9335    320.028      4.218      0.000     722.685    1977.182
361         1374.1074    247.821      5.545      0.000     888.382    1859.833
362         1104.0198    353.982      3.119      0.002     410.221    1797.818
363         1900.3937    287.350      6.614      0.000    1337.194    2463.594
364         1302.8005    499.996      2.606      0.009     322.818    2282.783
365         1964.6160    507.366      3.872      0.000     970.188    2959.044
366         1040.3281    365.954      2.843      0.004     323.065    1757.591
367         2133.8819    322.681      6.613      0.000    1501.434    2766.329
368         1416.4042    216.670      6.537      0.000     991.736    1841.072
369         1076.9388    293.154      3.674      0.000     502.363    1651.515
372         1240.8704    886.603      1.400      0.162    -496.854    2978.595
373         1435.1772    551.419      2.603      0.009     354.407    2515.947
375         1214.3613    218.541      5.557      0.000     786.025    1642.697
376         1330.7631    298.785      4.454      0.000     745.151    1916.376
377         1228.4616    307.680      3.993      0.000     625.415    1831.508
379         1104.6619    200.740      5.503      0.000     711.215    1498.109
380         1532.6422    218.026      7.030      0.000    1105.315    1959.970
382         1097.2384    188.281      5.828      0.000     728.211    1466.266
383         1091.4898    328.665      3.321      0.001     447.312    1735.667
384         1872.8028    421.581      4.442      0.000    1046.512    2699.093
385         1371.7500    345.398      3.972      0.000     694.776    2048.724
386         1389.2943    329.893      4.211      0.000     742.710    2035.878
387         1632.0451    257.981      6.326      0.000    1126.408    2137.683
388         1192.6539    244.809      4.872      0.000     712.833    1672.475
389         1362.0078    625.599      2.177      0.029     135.846    2588.170
390         1092.4073    528.538      2.067      0.039      56.483    2128.332
391         1557.4996    419.360      3.714      0.000     735.562    2379.437
392         1736.1262    462.983      3.750      0.000     828.689    2643.564
393         1162.5069    292.292      3.977      0.000     589.621    1735.393
394         1525.3483    258.628      5.898      0.000    1018.442    2032.255
395         1721.7083    418.689      4.112      0.000     901.087    2542.330
396         1505.9340    563.259      2.674      0.008     401.958    2609.910
397         1289.9835    630.629      2.046      0.041      53.963    2526.004
398         1505.6500    512.850      2.936      0.003     500.473    2510.827
399         1230.7904    462.710      2.660      0.008     323.888    2137.692
400         1415.8235    473.456      2.990      0.003     487.859    2343.788
401         1177.0588    225.701      5.215      0.000     734.690    1619.428
402         1183.3326    195.451      6.054      0.000     800.252    1566.413
403         1173.2495    259.614      4.519      0.000     664.412    1682.087
404         1228.1630    260.591      4.713      0.000     717.409    1738.917
405         1350.2990    267.670      5.045      0.000     825.672    1874.926
406         1116.5967    442.252      2.525      0.012     249.792    1983.401
407         1698.6518    585.851      2.899      0.004     550.395    2846.909
408         1188.5148    481.893      2.466      0.014     244.014    2133.016
409         1355.1220    622.914      2.175      0.030     134.223    2576.021
410         1197.8586    238.186      5.029      0.000     731.019    1664.698
411         1252.5078    379.375      3.302      0.001     508.940    1996.075
412         1242.3624    305.862      4.062      0.000     642.879    1841.846
414         1690.9682    543.796      3.110      0.002     625.140    2756.797
415         1509.8641    340.845      4.430      0.000     841.815    2177.914
416         2897.8378    411.901      7.035      0.000    2090.519    3705.157
417         1298.2028    223.094      5.819      0.000     860.942    1735.464
418         1180.4457   1001.873      1.178      0.239    -783.206    3144.098
419         1950.3285    728.889      2.676      0.007     521.720    3378.937
420         1097.8549    532.745      2.061      0.039      53.686    2142.024
421         4340.7751    645.797      6.722      0.000    3075.027    5606.523
422         1447.6146    267.992      5.402      0.000     922.355    1972.874
423         1251.8909    440.684      2.841      0.005     388.159    2115.622
426         1381.3630    212.970      6.486      0.000     963.947    1798.780
427         1951.4564    437.653      4.459      0.000    1093.665    2809.248
428         1363.1333    231.977      5.876      0.000     908.462    1817.804
430         1492.4347    360.767      4.137      0.000     785.338    2199.531
431         1282.6089    959.090      1.337      0.181    -597.189    3162.407
432         1130.4375    236.036      4.789      0.000     667.811    1593.064
433         1178.2639    240.241      4.904      0.000     707.395    1649.132
434         1176.3854    306.994      3.832      0.000     574.684    1778.087
435         1391.4696    173.646      8.013      0.000    1051.127    1731.812
436         1356.0960    711.579      1.906      0.057     -38.586    2750.778
437         1328.0886    575.153      2.309      0.021     200.800    2455.377
438         1196.4027    240.056      4.984      0.000     725.899    1666.907
439         1241.4092    236.661      5.246      0.000     777.558    1705.260
440         1148.6631    300.798      3.819      0.000     559.104    1738.222
441         1302.0599    411.574      3.164      0.002     495.383    2108.737
442         1209.0596    209.002      5.785      0.000     799.420    1618.699
443         1295.3847   1090.996      1.187      0.235    -842.945    3433.714
444         1363.8910    201.309      6.775      0.000     969.329    1758.453
445         1216.0018    233.548      5.207      0.000     758.253    1673.750
446         1139.0206    214.887      5.301      0.000     717.847    1560.195
447         1494.1960    280.075      5.335      0.000     945.255    2043.137
448         1288.7609    247.895      5.199      0.000     802.891    1774.631
449         1277.1904    360.978      3.538      0.000     569.681    1984.699
450         1495.8098    267.269      5.597      0.000     971.968    2019.652
453         1161.9396    238.690      4.868      0.000     694.111    1629.768
454         1247.4290    333.984      3.735      0.000     592.828    1902.030
455         1352.2192    339.602      3.982      0.000     686.606    2017.832
456         1553.1619    332.930      4.665      0.000     900.625    2205.699
457         1409.2077    244.425      5.765      0.000     930.140    1888.276
458         1238.6701    308.289      4.018      0.000     634.429    1842.911
459         1275.5729    241.806      5.275      0.000     801.637    1749.508
460         1256.4650    545.012      2.305      0.021     188.252    2324.678
461         1542.4076    231.053      6.676      0.000    1089.548    1995.267
462         1921.8717    235.457      8.162      0.000    1460.380    2383.363
463         1345.4549    235.631      5.710      0.000     883.624    1807.286

## Evaluate your model
Using the `statsmodels` summary, test whether or not `age` has a significant effect when predicting `tripduration`.
- Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly **in the context of your model**!

With this specific model age does not have a significant effect when predicting trip duration. Since we did 'get dummies' on the station id there are to many columns for the model which resulted in high variance. Since our p-value is below our significance level of 0.05, we succeed in rejecting the null hypothesis proving that on average the trip duration is different by gender.

## Citi Bike is attempting to market to people who they think will ride their bike for a long time. Based on your modeling, what types of individuals should Citi Bike market toward?

Based on our model it is hard to predict what types of individuals would ride their bikes for the longest. However, when looking at the raw numbers gender 2 has a higher average trip duration.