In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score

In [7]:
# Read in the train and test dataframes
train_df = pd.read_csv('./datasets/train.csv')
test_df = pd.read_csv('./datasets/test.csv')

In [10]:
train_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500

In [11]:
test_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD

In [12]:
# 2051 rows of training data and 80 columns plus 'SalePrice'
train_df.shape

(2051, 81)

In [15]:
# 878 rows of testing data and only 80 columns
test_df.shape

(878, 80)

In [60]:
train_dummies = train_df[['Id','Neighborhood']]
train_new = pd.get_dummies(columns=['Neighborhood'], data=train_dummies, drop_first=True)
train_new.shape

(2051, 28)

In [61]:
test_dummies = test_df[['Id','Neighborhood']]
test_new = pd.get_dummies(columns=['Neighborhood'], data=test_dummies, drop_first=True)
test_new.shape

(878, 26)

In [63]:
# new_list = [
#     list(set(train_new.columns[1:]).difference(test_new.columns[1:]))
# ]
# new_list

[['Neighborhood_Landmrk', 'Neighborhood_GrnHill']]

In [68]:
for n in new_list:
    for xi in n:
        print(xi)

Neighborhood_Landmrk
Neighborhood_GrnHill

In [79]:
[xi for xi in n for n in new_list]

['Neighborhood_Landmrk', 'Neighborhood_GrnHill']

In [85]:
[xi for n in n for n in new_list]

['Neighborhood_GrnHill', 'Neighborhood_GrnHill']

In [93]:
train_new.drop(columns=[[xi for n in n for n in new_list][0], [xi for n in n for n in new_list][1]])

,Id,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
0,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,544,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,153,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,255,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2047,785,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2048,916,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2049,639,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2050,10,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
train_new.shape

(2051, 28)

In [ ]:
# How to clean the continous feature I want
train_df['Lot Frontage']

In [ ]:
# We need to clean the data :) This function should get me datasets of only the features I want
def clean_the_dfs(train, test):
    
    # Get dummies for the neighborhood column for TRAIN
    train_dummies = train[['Id','Neighborhood']]
    train_new = pd.get_dummies(columns=['Neighborhood'], data=train_dummies, drop_first=True)
    
    # Get dummies for the neighborhood column for TEST
    test_dummies = test[['Id','Neighborhood']]
    test_new = pd.get_dummies(columns=['Neighborhood'], data=test_dummies, drop_first=True)
    
    # This finds the columns that are not the same
    new_list = [list(set(train_new.columns[1:]).difference(test_new.columns[1:]))]
    
    # This drops the columns that are not the same in the train and test datasets
    train_new.drop(columns=[[xi for n in n for n in new_list][0], [xi for n in n for n in new_list][1]], inplace=True)