In [218]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score

In [219]:
# Read in the train and test dataframes
train_df = pd.read_csv('./datasets/train.csv')
test_df = pd.read_csv('./datasets/test.csv')

In [220]:
train_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Sawyer,RRAe,Norm,1Fam,2Story,6,8,1976,2005,Gable,CompShg,HdBoard,Plywood,BrkFace,289.0,Gd,TA,CBlock,TA,TA,No,GLQ,533.0,Unf,0.0,192.0,725.0,GasA,Ex,Y,SBrkr,725,754,0,1479,0.0,0.0,2,1,3,1,Gd,6,Typ,0,NaN,Attchd,1976.0,RFn,2.0,475.0,TA,TA,Y,0,44,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,130500

In [221]:
test_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Norm,Norm,2fmCon,2Story,6,8,1910,1950,Gable,CompShg,AsbShng,AsbShng,None,0.0,TA,Fa,Stone,Fa,TA,No,Unf,0,Unf,0,1020,1020,GasA,Gd,N,FuseP,908,1020,0,1928,0,0,2,0,4,2,Fa,9,Typ,0,NaN,Detchd,1910.0,Unf,1,440,Po,Po,Y,0,60,112,0,0,0,NaN,NaN,NaN,0,4,2006,WD

In [222]:
# 2051 rows of training data and 80 columns plus 'SalePrice'
train_df.shape

(2051, 81)

In [223]:
# 878 rows of testing data and only 80 columns
test_df.shape

(878, 80)

In [224]:
# new_list = [
#     list(set(train_new.columns[1:]).difference(test_new.columns[1:]))
# ]
# new_list[0][1]
# https://stackoverflow.com/questions/35713093/how-can-i-compare-two-lists-in-python-and-return-not-matches/35713174

In [225]:
# for n in new_list:
#     for xi in n:
#         print(xi)

In [226]:
# [xi for xi in n for n in new_list][0]

In [227]:
# train_new.drop(columns=[[xi for xi in n for n in new_list][0], [xi for xi in n for n in new_list][1]])

In [228]:
# [xi for n in n for n in new_list]

In [229]:
# train_new.drop(columns=[[xi for n in n for n in new_list][0], [xi for n in n for n in new_list][1]])

In [236]:
train_df

     Neighborhood
0          Sawyer
1         SawyerW
2           NAmes
3          Timber
4         SawyerW
...           ...
2046       Timber
2047      Edwards
2048      Crawfor
2049        NAmes
2050      Gilbert

[2051 rows x 1 columns]

In [230]:
# https://stackoverflow.com/questions/49188960/how-to-show-all-of-columns-name-on-pandas-dataframe/49189503
pd.set_option('display.max_columns', None)

In [253]:
# We need to clean the data :) This function should get me datasets of only the features I want
def clean_the_dfs(train, test):

# **CONTINOUS** FEATURES
    # Fill the NA for 'Lot Frontage' for TRAIN and Test
    train['Lot Frontage'].fillna(np.mean(train['Lot Frontage']), inplace=True)
    test['Lot Frontage'].fillna(np.mean(test['Lot Frontage']), inplace=True)
    
    # Fill the NA for 'BsmtFin SF 1' for TRAIN and TEST
    train['BsmtFin SF 1'].fillna(np.mean(train['BsmtFin SF 1']), inplace=True)
    test['BsmtFin SF 1'].fillna(np.mean(test['BsmtFin SF 1']), inplace=True)
    
    # Fill the NA for 'Total Bsmt SF' for TRAIN and TEST
    train['Total Bsmt SF'].fillna(np.mean(train['Total Bsmt SF']), inplace = True)
    test['Total Bsmt SF'].fillna(np.mean(test['Total Bsmt SF']), inplace = True)
    
    # Fill the NA for 'Garage Area' for TRAIN and TEST
    train['Garage Area'].fillna(np.mean(train['Garage Area']), inplace = True)
    test['Garage Area'].fillna(np.mean(test['Garage Area']), inplace = True)
    
    # Create a new dataframe with only the continous features I want
    # I will merge these with the finished categorical dataframes
    cont_train = train[['Id', 'Lot Frontage', 'BsmtFin SF 1', 'Total Bsmt SF', '1st Flr SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area']]
    cont_test = test[['Id', 'Lot Frontage', 'BsmtFin SF 1', 'Total Bsmt SF', '1st Flr SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area']]
    

# MOVING ONTO **CATEGORICAL** FEATURES
    # Get dummies for the neighborhood column for TRAIN
    train_dummies = train[['Id','Neighborhood']]
    train_new = pd.get_dummies(columns=['Neighborhood'], data=train_dummies, drop_first=True)
    
    # Get dummies for the neighborhood column for TEST
    test_dummies = test[['Id','Neighborhood']]
    test_new = pd.get_dummies(columns=['Neighborhood'], data=test_dummies, drop_first=True)
    
    # This finds the columns that are not the same
    new_list = [list(set(train_new.columns[1:]).difference(test_new.columns[1:]))]
    
    # This drops the columns that are not the same in the train and test datasets
#     train_new.drop(columns=[[xi for n in n for n in new_list][0], [xi for n in n for n in new_list][1]], inplace=True)
    train_new.drop(columns=[[xi for xi in n for n in new_list][0], [xi for xi in n for n in new_list][1]], inplace=True)
    
    
# MERGING THE CONTINOUS AND CATEGORICAL FEATURES TOGETHER TRAIN AND TEST
    # Merging the continous and categorical for train
    merged_train = cont_train.merge(train_new, on='Id')
    # Merging the continous and categorical for train
    merged_test = cont_test.merge(test_new, on='Id')
    
# SETTING THE INDEX TO 'Id'
    # Set the index to 'Id' for merged_train dataframe
    merged_train.set_index('Id', inplace=True)
     # Set the index to 'Id' for merged_test dataframe
    merged_test.set_index('Id', inplace=True)
    
                                  
# LETS START MODELING
    # Create X and y 
    X = merged_train.columns
    y = train_df['SalePrice']
    
    # Created the train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = .70)
    
    # 
    
    return merged_train.columns

In [254]:
clean_the_dfs(train_df, test_df)

Index(['Lot Frontage', 'BsmtFin SF 1', 'Total Bsmt SF', '1st Flr SF',
       '1st Flr SF', 'Gr Liv Area', 'Garage Area', 'Neighborhood_Blueste',
       'Neighborhood_BrDale', 'Neighborhood_BrkSide', 'Neighborhood_ClearCr',
       'Neighborhood_CollgCr', 'Neighborhood_Crawfor', 'Neighborhood_Edwards',
       'Neighborhood_Gilbert', 'Neighborhood_Greens', 'Neighborhood_IDOTRR',
       'Neighborhood_MeadowV', 'Neighborhood_Mitchel', 'Neighborhood_NAmes',
       'Neighborhood_NPkVill', 'Neighborhood_NWAmes', 'Neighborhood_NoRidge',
       'Neighborhood_NridgHt', 'Neighborhood_OldTown', 'Neighborhood_SWISU',
       'Neighborhood_Sawyer', 'Neighborhood_SawyerW', 'Neighborhood_Somerst',
       'Neighborhood_StoneBr', 'Neighborhood_Timber', 'Neighborhood_Veenker'],
      dtype='object')

In [250]:
clean_the_dfs(train_df, test_df)

,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,1st Flr SF,Gr Liv Area,Garage Area,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,Neighborhood_IDOTRR,Neighborhood_MeadowV,Neighborhood_Mitchel,Neighborhood_NAmes,Neighborhood_NPkVill,Neighborhood_NWAmes,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2658,69.000000,0,1020,908,908,1928,440,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2718,69.545961,0,1967,1967,1967,1967,580,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2414,58.000000,554,654,664,664,1496,426,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1989,60.000000,0,968,968,968,968,480,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
625,69.545961,609,1394,1394,1394,1394,514,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,80.000000,931,1084,1084,1084,1877,488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1234,90.000000,575,1104,1104,1104,1988,480,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1373,55.000000,250,952,1211,1211,1211,322,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1672,60.000000,616,864,864,864,864,528,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1939,70.000000,793,923,925,925,925,390,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0