In [126]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

In [137]:
continous_df = pd.read_csv('/Users/aidancurley/Documents/dsir/Submissions/Projects/project_2-master/continous_df.csv')

In [154]:
test_df = pd.read_csv('/Users/aidancurley/Documents/dsir/Submissions/Projects/project_2-master/datasets/test.csv')

In [138]:
continous_df.head()

,Id,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,Gr Liv Area,Garage Area,SalePrice
0,109,69.0552,533.0,725.0,725,1479,475.0,130500
1,544,43.0000,637.0,913.0,913,2122,559.0,220000
2,153,68.0000,731.0,1057.0,1057,1057,246.0,109000
3,318,73.0000,0.0,384.0,744,1444,400.0,174000
4,255,82.0000,0.0,676.0,831,1445,484.0,138500

In [139]:
cont_col = ['Lot Frontage', 'BsmtFin SF 1', 'Total Bsmt SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area']

In [140]:
# cont_col = ['BsmtFin SF 1', 'Total Bsmt SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area']

In [141]:
# Instantiate the model

In [142]:
X = continous_df[cont_col]
y = continous_df['SalePrice']

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=54, test_size=.95)
X_train.head()

,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,Gr Liv Area,Garage Area
207,85.0,42.0,1068.0,1264,1264,528.0
1248,95.0,351.0,2217.0,2217,2217,621.0
1274,21.0,282.0,494.0,494,1030,264.0
1573,64.0,686.0,1187.0,1208,1208,632.0
739,84.0,24.0,1656.0,1656,1656,826.0

In [205]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [206]:
model.score(X_train, y_train)

0.8442124600694173

In [207]:
# Training MSE
# Model hmmm
mean_squared_error(y_train, model.predict(X_train), squared=False)

30573.100443819516

In [203]:
# Testing MSE
mean_squared_error(y_test, model.predict(X_test), squared=False)

51697.60239910261

In [156]:
pred_df = test_df[['Id']]

In [159]:
test_df.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD

In [170]:
y_pred = model.predict(X_train)
y_pred[:4]

array([166121.55630944, 304389.83645134,  91828.45229654, 200379.38639718])

In [171]:
y_intercept = model.intercept_

In [172]:
y_coef = model.coef_

In [162]:
test_df['Lot Frontage'].fillna(np.mean(test_df['Lot Frontage']), inplace=True)

In [163]:
test_df['BsmtFin SF 1'].fillna(np.mean(test_df['BsmtFin SF 1']), inplace=True)

In [164]:
test_df['Total Bsmt SF'].fillna(np.mean(test_df['Total Bsmt SF']), inplace = True)

In [165]:
test_df['Garage Area'].fillna(np.mean(test_df['Garage Area']), inplace = True)

In [196]:
# Predicting house values
y_preds = model.predict(X_train)

In [198]:
preds.shape

(102,)

In [194]:
pred_df

       Id
0    2658
1    2718
2    2414
3    1989
4     625
..    ...
873  1662
874  1234
875  1373
876  1672
877  1939

[878 rows x 1 columns]

In [195]:
pred_df['SalePrice'] = y_preds

ValueError: Length of values (102) does not match length of index (878)

In [152]:
linreg = LinearRegression() # Instantiate the model
cross_val_score(estimator = linreg, X=X_train, y=y_train)

array([0.88887604, 0.63242164, 0.84801248, 0.82555038, 0.82642422])

In [155]:
# Get the mean cross validated score
cross_val_score(estimator = linreg, X=X_train, y=y_train).mean()

0.8042569513204096