In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures

In [185]:
# Lets bring in trained df for the 'SalePrice'
train_df = pd.read_csv('../project_2-master/datasets/train.csv')

In [186]:
# Lets read in the cleaned trained df
merged_train = pd.read_csv('../project_2-master/merged_train.csv')
# Lets read in the cleaned test df
merged_test = pd.read_csv('../project_2-master/merged_test.csv')

In [187]:
merged_train.head(1)

,Id,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,1st Flr SF.1,Gr Liv Area,Garage Area,Mas Vnr Area,Neighborhood_Blueste,...,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence
0,109,69.0552,533.0,725.0,725,725,1479,475.0,289.0,0,...,5,4,8,0,2,3,3,3,0,0

In [188]:
merged_test.head(1)

,Id,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,1st Flr SF.1,Gr Liv Area,Garage Area,Mas Vnr Area,Neighborhood_Blueste,...,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence
0,2658,69.0,0,1020,908,908,1928,440,0.0,0,...,2,2,8,0,1,1,1,3,0,0

In [189]:
merged_train[merged_train.columns[1:7]].head(1)

,Lot Frontage,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,1st Flr SF.1,Gr Liv Area
0,69.0552,533.0,725.0,725,725,1479

In [190]:
def linear_regression(train, test, saleprice):

# SET 'Id' AS THE INDEX
    train.set_index('Id', inplace=True)
    test.set_index('Id', inplace=True)

# CREATING X AND y
    X = train[train.columns[1:]]
    y = saleprice['SalePrice']
    
# POLYNOMIAL FEATURE ENGINEERING
    # Instantiate our PolynomialFeatures object to create all two-way terms.
#     poly = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)

    # Fit and transform our X data.
#     X_overfit = poly.fit_transform(X[train.columns[1:7]])

# TRAIN, TEST, SPLIT
    # train, test, split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = .90)
    
    #  Instantiate the model
    lr = LinearRegression()
    
    # Fit the model
    lr.fit(X_train, y_train)
    
    # Predict the model
    y_pred_train = lr.predict(X_train)
    y_pred_test = lr.predict(X_test)
    
    # Get the RMSE
    print(f"The RMSE for X_train is {mean_squared_error(y_train, y_pred_train, squared=False)}")
    print(f"The RMSE for X_test is {mean_squared_error(y_test, y_pred_test, squared=False)}")
    
# KAGGLE SUBMISSION STEPS

    # Set my merged_test to kaggle
    kaggle_predict = merged_test[merged_test.columns[1:]]
    
    # Predict 'SalePrice' with our model
    kaggle_predict['SalePrice'] = lr.predict(kaggle_predict)
    
    
    output = kaggle_predict[['SalePrice']]
    
    output.to_csv('new_submission.csv')
    
    return output

In [191]:
linear_regression(merged_train, merged_test, train_df)

The RMSE for X_train is 29707.249574520658
The RMSE for X_test is 26928.398936732134

          SalePrice
Id
2658  150355.900364
2718  170868.573706
2414  203670.367646
1989  104265.887071
625   172384.816170
...             ...
1662  177849.085709
1234  223534.170770
1373  129998.864910
1672  106214.498646
1939  119313.507293

[878 rows x 1 columns]