In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [283]:
train_df = pd.read_csv('/Users/aidancurley/Documents/dsir/Submissions/Projects/project_2-master/datasets/train.csv')
test_df = pd.read_csv('/Users/aidancurley/Documents/dsir/Submissions/Projects/project_2-master/datasets/test.csv')

In [284]:
def clean_noms(train, test):
    # MOVING ONTO **CATEGORICAL** FEATURES
    # Get dummies for the neighborhood column for TRAIN
    train_dummies = train[['Id','Neighborhood']]
    train_new = pd.get_dummies(columns=['Neighborhood'], data=train_dummies, drop_first=True)
    
    # Get dummies for the neighborhood column for TEST
    test_dummies = test[['Id','Neighborhood']]
    test_new = pd.get_dummies(columns=['Neighborhood'], data=test_dummies, drop_first=True)
    
    # This finds the columns that are not the same
    # https://stackoverflow.com/questions/35713093/how-can-i-compare-two-lists-in-python-and-return-not-matches/35713174
    new_list = [list(set(train_new.columns[1:]).difference(test_new.columns[1:]))]
    
    # This drops the columns that are not the same in the train and test datasets
    train_new.drop(columns=[[n for n in new_list][0][0], [n for n in new_list][0][1]], inplace=True)
    
    return train_new

In [285]:
clean_noms(train_df, test_df)

,Id,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
0,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,544,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,153,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,255,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2047,785,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2048,916,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2049,639,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2050,10,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [280]:
train_df.shape

(2051, 81)

In [281]:
test_df.shape

(878, 80)

In [114]:
id_df = train_df[['Id']]

In [115]:
nominal_column = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config', 'Neighborhood',
                 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl', 'Exterior 1st',
                 'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating', 'Central Air', 'Garage Type', 'Misc Feature',
                 'Sale Type']

In [ ]:
train_df[nominal_column]

## MS SubClass (Nominal):

In [5]:
# MS SubClass
mssc_dummies = train_df[['Id','MS SubClass']]
ms_new = pd.get_dummies(columns=['MS SubClass'], data=mssc_dummies, drop_first=True)

In [6]:
ms_new

,Id,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,MS SubClass_120,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190
0,109,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,544,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,153,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,255,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2047,785,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2048,916,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2049,639,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2050,10,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [231]:
mssc_dummies_test = test_df[['Id','MS SubClass']]
ms_new_test = pd.get_dummies(columns=['MS SubClass'], data=mssc_dummies_test, drop_first=True)

ms_new_test

,Id,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,MS SubClass_120,MS SubClass_160,MS SubClass_180,MS SubClass_190
0,2658,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2718,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,2414,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1989,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,625,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,0,0,0,0,1,0,0,0,0,0,0,0,0,0
874,1234,0,0,0,0,1,0,0,0,0,0,0,0,0,0
875,1373,0,0,0,0,0,0,0,0,0,0,0,0,0,0
876,1672,0,0,0,0,0,0,0,0,0,0,0,0,0,0
877,1939,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## MS Zoning (Nominal):

**Train**

In [11]:
# MS Zoning
msz_dummies = train_df[['Id','MS Zoning']]
msz_new = pd.get_dummies(columns=['MS Zoning'], data=msz_dummies, drop_first=True)

In [12]:
msz_new.head(1)

,Id,MS Zoning_C (all),MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,109,0,0,0,0,1,0

In [20]:
nominal = msz_new.merge(ms_new, on='Id')

**Test:**

In [233]:
msz_dummies_test = test_df[['Id','MS Zoning']]
msz_new_test = pd.get_dummies(columns=['MS Zoning'], data=msz_dummies_test, drop_first=True)

msz_new_test

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM
0,2658,0,0,0,0,1
1,2718,0,0,0,1,0
2,2414,0,0,0,1,0
3,1989,0,0,0,0,1
4,625,0,0,0,1,0
...,...,...,...,...,...,...
873,1662,0,0,0,1,0
874,1234,0,0,0,1,0
875,1373,0,0,0,1,0
876,1672,0,0,0,1,0
877,1939,0,0,0,1,0

In [234]:
nominal_test = msz_new_test.merge(ms_new_test, on='Id')
nominal_test

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,MS SubClass_120,MS SubClass_160,MS SubClass_180,MS SubClass_190
0,2658,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2718,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,2414,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1989,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,625,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
874,1234,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
875,1373,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
876,1672,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
877,1939,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Street (Nominal):

**Train**

In [25]:
street_dummies = train_df[['Id','Street']]
street_new = pd.get_dummies(columns=['Street'], data=street_dummies, drop_first=True)

In [26]:
street_new.head(1)

    Id  Street_Pave
0  109            1

In [27]:
X = street_new[['Street_Pave']]
y = train_df['SalePrice']

In [28]:
def slr_model(X, y):
#      Step 1: Assemble our X and y variables
#      We need an X matrix that is n-by-p (in this case, p = 1)
#      We need a y vector that is length n
    
#     Instantiate the model
    model = LinearRegression()  
    
#     Fit the model
    model.fit(X, y) 
    
#     Find the coefficient
    score = model.score(X, y)
    
    y_pred = model.predict(X)

#     Take a peek at the model coefficient and intercept
    y_intercept = model.intercept_
    y_coef = model.coef_
    
    return y_pred, y_intercept, y_coef
y_pred, y_intercept, y_coef = slr_model(X, y)
f"MSE is {metrics.mean_squared_error(y, y_pred, squared=False)}"

'MSE is 79045.84089947173'

In [30]:
nominal = nominal.merge(street_new, on='Id')

**Test:**

In [237]:
street_dummies_test = test_df[['Id','Street']]
street_new_test = pd.get_dummies(columns=['Street'], data=street_dummies_test, drop_first=True)

street_new_test

       Id  Street_Pave
0    2658            1
1    2718            1
2    2414            1
3    1989            1
4     625            1
..    ...          ...
873  1662            1
874  1234            1
875  1373            1
876  1672            1
877  1939            1

[878 rows x 2 columns]

In [238]:
nominal_test = nominal_test.merge(street_new_test, on='Id')
nominal_test

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,MS SubClass_120,MS SubClass_160,MS SubClass_180,MS SubClass_190,Street_Pave
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2414,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1989,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,625,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
874,1234,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
875,1373,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
876,1672,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
877,1939,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Alley (Nominal):

In [ ]:
train_df['Alley'].isna().sum()

There are to many na values so disregard

## Land Contour (Nominal):

**Train:**

In [ ]:
train_df.head(1)

In [122]:
train_df['Land Contour'].unique()

array(['Lvl', 'HLS', 'Bnk', 'Low'], dtype=object)

In [123]:
train_df['Land Contour'].isna().sum()

0

In [124]:
land_dummies = train_df[['Id','Land Contour']]
land_new = pd.get_dummies(columns=['Land Contour'], data=land_dummies, drop_first=True)

In [125]:
land_new.head(1)

    Id  Land Contour_HLS  Land Contour_Low  Land Contour_Lvl
0  109                 0                 0                 1

In [ ]:
X = land_new[['Land Contour_HLS', 'Land Contour_Low', 'Land Contour_Lvl']]
y = train_df['SalePrice']

In [ ]:
def slr_model(X, y):
#      Step 1: Assemble our X and y variables
#      We need an X matrix that is n-by-p (in this case, p = 1)
#      We need a y vector that is length n
    
#     Instantiate the model
    model = LinearRegression()  
    
#     Fit the model
    model.fit(X, y) 
    
#     Find the coefficient
    score = model.score(X, y)
    
    y_pred = model.predict(X)

#     Take a peek at the model coefficient and intercept
    y_intercept = model.intercept_
    y_coef = model.coef_
    
    return y_pred, y_intercept, y_coef
y_pred, y_intercept, y_coef = slr_model(X, y)
f"MSE is {metrics.mean_squared_error(y, y_pred, squared=False)}"

In [126]:
nominal = nominal.merge(land_new, on='Id')

In [128]:
nominal.head(1)

,Id,MS Zoning_C (all),MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,...,MS SubClass_90,MS SubClass_120,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,Street_Pave,Land Contour_HLS,Land Contour_Low,Land Contour_Lvl
0,109,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

**Test:**

In [240]:
lc_dummies_test = test_df[['Id','Land Contour']]
lc_new_test = pd.get_dummies(columns=['Land Contour'], data=lc_dummies_test, drop_first=True)

lc_new_test

       Id  Land Contour_HLS  Land Contour_Low  Land Contour_Lvl
0    2658                 0                 0                 1
1    2718                 0                 0                 1
2    2414                 0                 0                 1
3    1989                 0                 0                 1
4     625                 0                 0                 1
..    ...               ...               ...               ...
873  1662                 0                 0                 1
874  1234                 0                 0                 1
875  1373                 0                 0                 1
876  1672                 0                 0                 1
877  1939                 0                 0                 1

[878 rows x 4 columns]

In [241]:
nominal_test = nominal_test.merge(lc_new_test, on='Id')
nominal_test

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,MS SubClass_85,MS SubClass_90,MS SubClass_120,MS SubClass_160,MS SubClass_180,MS SubClass_190,Street_Pave,Land Contour_HLS,Land Contour_Low,Land Contour_Lvl
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,2718,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2,2414,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1989,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,625,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
874,1234,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
875,1373,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
876,1672,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
877,1939,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

## Lot Config (Nominal):

**Train:**

In [ ]:
train_df.head(1)

In [129]:
train_df['Lot Config'].unique()

array(['CulDSac', 'Inside', 'Corner', 'FR2', 'FR3'], dtype=object)

In [130]:
train_df['Lot Config'].isna().sum()

0

In [131]:
lc_dummies = train_df[['Id','Lot Config']]
lc_new = pd.get_dummies(columns=['Lot Config'], data=lc_dummies, drop_first=True)

In [ ]:
lc_new.head(1)

In [ ]:
X = lc_new[['Lot Config_CulDSac', 'Lot Config_FR2', 'Lot Config_Inside']]
y = train_df['SalePrice']

In [ ]:
def slr_model(X, y):
#      Step 1: Assemble our X and y variables
#      We need an X matrix that is n-by-p (in this case, p = 1)
#      We need a y vector that is length n
    
#     Instantiate the model
    model = LinearRegression()  
    
#     Fit the model
    model.fit(X, y) 
    
#     Find the coefficient
    score = model.score(X, y)
    
    y_pred = model.predict(X)

#     Take a peek at the model coefficient and intercept
    y_intercept = model.intercept_
    y_coef = model.coef_
    
    return y_pred, y_intercept, y_coef
y_pred, y_intercept, y_coef = slr_model(X, y)
f"MSE is {metrics.mean_squared_error(y, y_pred, squared=False)}"

In [132]:
nominal = nominal.merge(lc_new, on='Id')

**Test:**

In [243]:
lcf_dummies_test = test_df[['Id','Lot Config']]
lcf_new_test = pd.get_dummies(columns=['Lot Config'], data=lcf_dummies_test, drop_first=True)

lcf_new_test

,Id,Lot Config_CulDSac,Lot Config_FR2,Lot Config_FR3,Lot Config_Inside
0,2658,0,0,0,1
1,2718,0,0,0,1
2,2414,0,0,0,1
3,1989,0,0,0,1
4,625,0,0,0,1
...,...,...,...,...,...
873,1662,0,0,0,1
874,1234,0,0,0,1
875,1373,0,0,0,1
876,1672,0,1,0,0
877,1939,0,0,0,0

In [244]:
nominal_test = nominal_test.merge(lcf_new_test, on='Id')
nominal_test

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,MS SubClass_180,MS SubClass_190,Street_Pave,Land Contour_HLS,Land Contour_Low,Land Contour_Lvl,Lot Config_CulDSac,Lot Config_FR2,Lot Config_FR3,Lot Config_Inside
0,2658,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
2,2414,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
3,1989,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
4,625,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
874,1234,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
875,1373,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
876,1672,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
877,1939,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

## Neighborhood (Nominal):

**Train:**

In [ ]:
train_df['Neighborhood'].unique()

In [133]:
train_df['Neighborhood'].isna().sum()

0

In [134]:
neigh_dummies = train_df[['Id','Neighborhood']]
neigh_new = pd.get_dummies(columns=['Neighborhood'], data=neigh_dummies, drop_first=True)

In [ ]:
neigh_list = neigh_new.columns

In [135]:
nominal = nominal.merge(neigh_new, on='Id')

**Test:**

In [247]:
neigh_dummies_test = test_df[['Id','Neighborhood']]
neigh_new_test = pd.get_dummies(columns=['Neighborhood'], data=neigh_dummies_test, drop_first=True)

neigh_new_test.head(2)

,Id,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
0,2658,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [249]:
nominal_test = nominal_test.merge(neigh_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Neighborhood_NoRidge_y,Neighborhood_NridgHt_y,Neighborhood_OldTown_y,Neighborhood_SWISU_y,Neighborhood_Sawyer_y,Neighborhood_SawyerW_y,Neighborhood_Somerst_y,Neighborhood_StoneBr_y,Neighborhood_Timber_y,Neighborhood_Veenker_y
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

## Condition 1 (Nominal):

**Train:**

In [136]:
train_df['Condition 1'].unique()

array(['RRAe', 'Norm', 'PosA', 'Artery', 'Feedr', 'PosN', 'RRAn', 'RRNe',
       'RRNn'], dtype=object)

In [137]:
train_df['Condition 1'].isna().sum()

0

In [138]:
c1_dummies = train_df[['Id','Condition 1']]
c1_new = pd.get_dummies(columns=['Condition 1'], data=c1_dummies, drop_first=True)

In [ ]:
c1_new.head()

In [ ]:
c1_list = c1_new.columns

In [ ]:
get_dummies(train_df, 'Condition 1')

In [139]:
nominal = nominal.merge(c1_new, on='Id')

In [140]:
nominal.shape

(2051, 65)

**Test:**

In [251]:
c1_dummies_test = test_df[['Id','Condition 1']]
c1_new_test = pd.get_dummies(columns=['Condition 1'], data=c1_dummies_test, drop_first=True)

c1_new_test.head(2)

,Id,Condition 1_Feedr,Condition 1_Norm,Condition 1_PosA,Condition 1_PosN,Condition 1_RRAe,Condition 1_RRAn,Condition 1_RRNe,Condition 1_RRNn
0,2658,0,1,0,0,0,0,0,0
1,2718,0,1,0,0,0,0,0,0

In [252]:
nominal_test = nominal_test.merge(c1_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Neighborhood_Timber_y,Neighborhood_Veenker_y,Condition 1_Feedr,Condition 1_Norm,Condition 1_PosA,Condition 1_PosN,Condition 1_RRAe,Condition 1_RRAn,Condition 1_RRNe,Condition 1_RRNn
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## Condition 2 (Nominal):

**Train:**

In [141]:
train_df['Condition 2'].isna().sum()

0

In [148]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [154]:
nominal = nominal.merge(get_dummies(train_df, 'Condition 2'), on='Id')

**Test:**

In [253]:
c2_dummies_test = test_df[['Id','Condition 2']]
c2_new_test = pd.get_dummies(columns=['Condition 2'], data=c2_dummies_test, drop_first=True)

c2_new_test.head(2)

     Id  Condition 2_Norm  Condition 2_PosA
0  2658                 1                 0
1  2718                 1                 0

In [255]:
nominal_test = nominal_test.merge(c2_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Condition 1_PosA,Condition 1_PosN,Condition 1_RRAe,Condition 1_RRAn,Condition 1_RRNe,Condition 1_RRNn,Condition 2_Norm_x,Condition 2_PosA_x,Condition 2_Norm_y,Condition 2_PosA_y
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

## Bldg Type (Nominal):

**Train:**

In [157]:
train_df['Bldg Type'].isna().sum()

0

In [158]:
train_df['Bldg Type'].unique()

array(['1Fam', 'TwnhsE', 'Twnhs', '2fmCon', 'Duplex'], dtype=object)

In [159]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [160]:
nominal = nominal.merge(get_dummies(train_df, 'Bldg Type'))

**Test:**

In [257]:
bldg_dummies_test = test_df[['Id','Bldg Type']]
bldg_new_test = pd.get_dummies(columns=['Bldg Type'], data=bldg_dummies_test, drop_first=True)

bldg_new_test.head(2)

     Id  Bldg Type_2fmCon  Bldg Type_Duplex  Bldg Type_Twnhs  Bldg Type_TwnhsE
0  2658                 1                 0                0                 0
1  2718                 0                 1                0                 0

In [258]:
nominal_test = nominal_test.merge(bldg_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Condition 1_RRNe,Condition 1_RRNn,Condition 2_Norm_x,Condition 2_PosA_x,Condition 2_Norm_y,Condition 2_PosA_y,Bldg Type_2fmCon,Bldg Type_Duplex,Bldg Type_Twnhs,Bldg Type_TwnhsE
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0

## House Style (Nominal):

**Train:**

In [161]:
train_df['House Style'].isna().sum()

0

In [162]:
train_df['House Style'].unique()

array(['2Story', '1Story', '1.5Fin', 'SFoyer', 'SLvl', '2.5Unf', '2.5Fin',
       '1.5Unf'], dtype=object)

In [163]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [164]:
nominal = nominal.merge(get_dummies(train_df, 'House Style'))

**Test:**

In [259]:
hs_dummies_test = test_df[['Id','House Style']]
hs_new_test = pd.get_dummies(columns=['House Style'], data=hs_dummies_test, drop_first=True)

hs_new_test.head(2)

,Id,House Style_1.5Unf,House Style_1Story,House Style_2.5Fin,House Style_2.5Unf,House Style_2Story,House Style_SFoyer,House Style_SLvl
0,2658,0,0,0,0,1,0,0
1,2718,0,1,0,0,0,0,0

In [260]:
nominal_test = nominal_test.merge(hs_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Bldg Type_Duplex,Bldg Type_Twnhs,Bldg Type_TwnhsE,House Style_1.5Unf,House Style_1Story,House Style_2.5Fin,House Style_2.5Unf,House Style_2Story,House Style_SFoyer,House Style_SLvl
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

## Roof Style (Nominal):

**Train:**

In [165]:
train_df['Roof Style'].isna().sum()

0

In [166]:
train_df['Roof Style'].unique()

array(['Gable', 'Hip', 'Flat', 'Mansard', 'Shed', 'Gambrel'], dtype=object)

In [167]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [169]:
nominal = nominal.merge(get_dummies(train_df, 'Roof Style'))

**Test:**

In [261]:
rs_dummies_test = test_df[['Id','Roof Style']]
rs_new_test = pd.get_dummies(columns=['Roof Style'], data=rs_dummies_test, drop_first=True)

rs_new_test.head(2)

,Id,Roof Style_Gable,Roof Style_Gambrel,Roof Style_Hip,Roof Style_Mansard,Roof Style_Shed
0,2658,1,0,0,0,0
1,2718,1,0,0,0,0

In [262]:
nominal_test = nominal_test.merge(rs_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,House Style_2.5Fin,House Style_2.5Unf,House Style_2Story,House Style_SFoyer,House Style_SLvl,Roof Style_Gable,Roof Style_Gambrel,Roof Style_Hip,Roof Style_Mansard,Roof Style_Shed
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Roof Matl (Nominal):

**Train:**

In [170]:
train_df['Roof Matl'].isna().sum()

0

In [172]:
train_df['Roof Matl'].unique()

array(['CompShg', 'WdShngl', 'Tar&Grv', 'WdShake', 'Membran', 'ClyTile'],
      dtype=object)

In [175]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [176]:
nominal = nominal.merge(get_dummies(train_df, 'Roof Matl'))

**Test:**

In [263]:
rm_dummies_test = test_df[['Id','Roof Matl']]
rm_new_test = pd.get_dummies(columns=['Roof Matl'], data=rm_dummies_test, drop_first=True)

rm_new_test.head(2)

,Id,Roof Matl_Metal,Roof Matl_Roll,Roof Matl_Tar&Grv,Roof Matl_WdShake,Roof Matl_WdShngl
0,2658,0,0,0,0,0
1,2718,0,0,0,0,0

In [264]:
nominal_test = nominal_test.merge(rm_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Roof Style_Gable,Roof Style_Gambrel,Roof Style_Hip,Roof Style_Mansard,Roof Style_Shed,Roof Matl_Metal,Roof Matl_Roll,Roof Matl_Tar&Grv,Roof Matl_WdShake,Roof Matl_WdShngl
0,2658,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

## Exterior 1 (Nominal):

**Train:**

In [177]:
train_df['Exterior 1st'].isna().sum()

0

In [179]:
train_df['Exterior 1st'].unique()

array(['HdBoard', 'VinylSd', 'Wd Sdng', 'BrkFace', 'Plywood', 'MetalSd',
       'AsbShng', 'CemntBd', 'WdShing', 'Stucco', 'BrkComm', 'Stone',
       'CBlock', 'ImStucc', 'AsphShn'], dtype=object)

In [181]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [182]:
nominal = nominal.merge(get_dummies(train_df, 'Exterior 1st'))

**Test:**

In [265]:
e1_dummies_test = test_df[['Id','Exterior 1st']]
e1_new_test = pd.get_dummies(columns=['Exterior 1st'], data=e1_dummies_test, drop_first=True)

e1_new_test.head(2)

,Id,Exterior 1st_AsphShn,Exterior 1st_BrkComm,Exterior 1st_BrkFace,Exterior 1st_CemntBd,Exterior 1st_HdBoard,Exterior 1st_MetalSd,Exterior 1st_Plywood,Exterior 1st_PreCast,Exterior 1st_Stucco,Exterior 1st_VinylSd,Exterior 1st_Wd Sdng,Exterior 1st_WdShing
0,2658,0,0,0,0,0,0,0,0,0,0,0,0
1,2718,0,0,0,0,0,0,1,0,0,0,0,0

In [266]:
nominal_test = nominal_test.merge(e1_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Exterior 1st_BrkFace,Exterior 1st_CemntBd,Exterior 1st_HdBoard,Exterior 1st_MetalSd,Exterior 1st_Plywood,Exterior 1st_PreCast,Exterior 1st_Stucco,Exterior 1st_VinylSd,Exterior 1st_Wd Sdng,Exterior 1st_WdShing
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

## Exterior 2 (Nominal):

**Train:**

In [191]:
train_df['Exterior 2nd'].isna().sum()

0

In [193]:
train_df['Exterior 2nd'].unique()

array(['Plywood', 'VinylSd', 'Wd Sdng', 'HdBoard', 'MetalSd', 'AsbShng',
       'CmentBd', 'Wd Shng', 'BrkFace', 'Stucco', 'Brk Cmn', 'ImStucc',
       'Stone', 'CBlock', 'AsphShn'], dtype=object)

In [194]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [195]:
nominal = nominal.merge(get_dummies(train_df, 'Exterior 2nd'))

**Test:**

In [267]:
e2_dummies_test = test_df[['Id','Exterior 2nd']]
e2_new_test = pd.get_dummies(columns=['Exterior 2nd'], data=e2_dummies_test, drop_first=True)

e2_new_test.head(2)

,Id,Exterior 2nd_AsphShn,Exterior 2nd_Brk Cmn,Exterior 2nd_BrkFace,Exterior 2nd_CBlock,Exterior 2nd_CmentBd,Exterior 2nd_HdBoard,Exterior 2nd_ImStucc,Exterior 2nd_MetalSd,Exterior 2nd_Other,Exterior 2nd_Plywood,Exterior 2nd_PreCast,Exterior 2nd_Stucco,Exterior 2nd_VinylSd,Exterior 2nd_Wd Sdng,Exterior 2nd_Wd Shng
0,2658,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2718,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [268]:
nominal_test = nominal_test.merge(e2_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Exterior 2nd_HdBoard,Exterior 2nd_ImStucc,Exterior 2nd_MetalSd,Exterior 2nd_Other,Exterior 2nd_Plywood,Exterior 2nd_PreCast,Exterior 2nd_Stucco,Exterior 2nd_VinylSd,Exterior 2nd_Wd Sdng,Exterior 2nd_Wd Shng
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

## Mas Vnr Type (Nominal):

## Foundation (Nominal):

**Train:**

In [198]:
train_df['Foundation'].isna().sum()

0

In [200]:
train_df['Foundation'].unique()

array(['CBlock', 'PConc', 'BrkTil', 'Slab', 'Stone', 'Wood'], dtype=object)

In [ ]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [201]:
nominal = nominal.merge(get_dummies(train_df, 'Foundation'))

In [202]:
nominal.shape

(2051, 126)

**Test:**

In [269]:
found_dummies_test = test_df[['Id','Foundation']]
found_new_test = pd.get_dummies(columns=['Foundation'], data=found_dummies_test, drop_first=True)

found_new_test.head(2)

,Id,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood
0,2658,0,0,0,1,0
1,2718,1,0,0,0,0

In [270]:
nominal_test = nominal_test.merge(found_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Exterior 2nd_PreCast,Exterior 2nd_Stucco,Exterior 2nd_VinylSd,Exterior 2nd_Wd Sdng,Exterior 2nd_Wd Shng,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Heating (Nominal):

**Train:**

In [203]:
train_df['Heating'].isna().sum()

0

In [ ]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [205]:
nominal = nominal.merge(get_dummies(train_df, 'Heating'))

**Test:**

In [271]:
heating_dummies_test = test_df[['Id','Heating']]
heating_new_test = pd.get_dummies(columns=['Heating'], data=heating_dummies_test, drop_first=True)

heating_new_test.head(2)

     Id  Heating_GasA  Heating_GasW  Heating_Grav
0  2658             1             0             0
1  2718             1             0             0

In [272]:
nominal_test = nominal_test.merge(heating_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Exterior 2nd_Wd Sdng,Exterior 2nd_Wd Shng,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood,Heating_GasA,Heating_GasW,Heating_Grav
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

## Central Air (Nominal):

**Train:**

In [206]:
train_df['Central Air'].isna().sum()

0

In [207]:
train_df['Central Air'].unique()

array(['Y', 'N'], dtype=object)

In [209]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [210]:
nominal = nominal.merge(get_dummies(train_df, 'Central Air'))

**Test:**

In [274]:
ca_dummies_test = test_df[['Id','Central Air']]
ca_new_test = pd.get_dummies(columns=['Central Air'], data=ca_dummies_test, drop_first=True)

ca_new_test.head(2)

     Id  Central Air_Y
0  2658              0
1  2718              1

In [275]:
nominal_test = nominal_test.merge(ca_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Exterior 2nd_Wd Shng,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood,Heating_GasA,Heating_GasW,Heating_Grav,Central Air_Y
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1,2718,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1

## Garage Type (Nominal):

## Misc Feature (Nominal):

## Sale Type (Nominal):

**Train:**

In [213]:
train_df['Sale Type'].isna().sum()

0

In [214]:
train_df['Sale Type'].unique()

array(['WD ', 'New', 'COD', 'ConLD', 'Con', 'CWD', 'Oth', 'ConLI',
       'ConLw'], dtype=object)

In [215]:
def get_dummies(dataframe, dummy_col):
    dummy_df = dataframe[['Id', 'SalePrice', dummy_col]]
    dummy_df = pd.get_dummies(columns=[dummy_col], data=dummy_df, drop_first=True)
    dummy_df = dummy_df.drop(columns='SalePrice')
    return dummy_df

In [216]:
nominal = nominal.merge(get_dummies(train_df, 'Sale Type'))

In [217]:
nominal.shape

(2051, 139)

**Test:**

In [276]:
st_dummies_test = test_df[['Id','Sale Type']]
st_new_test = pd.get_dummies(columns=['Sale Type'], data=st_dummies_test, drop_first=True)

st_new_test.head(2)

,Id,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,0,0,0,0,0,0,0,0,1
1,2718,0,0,0,0,0,0,0,0,1

In [277]:
nominal_test = nominal_test.merge(st_new_test, on='Id')
nominal_test.head(2)

,Id,MS Zoning_FV,MS Zoning_I (all),MS Zoning_RH,MS Zoning_RL,MS Zoning_RM,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,...,Central Air_Y,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2718,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

## Sale Condition (Nominal):

In [278]:
nominal.shape

(2051, 139)

In [279]:
nominal_test.shape

(878, 156)

In [218]:
nominal.to_csv('nominal_df.csv', index=False)

In [282]:
nominal_test.to_csv('nominal_test.csv', index=False)