In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score

In [4]:
train_df = pd.read_csv('../project_2-master/datasets/train.csv')
test_df = pd.read_csv('../project_2-master/datasets/test.csv')

In [7]:
train_df['Pool QC']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2046    NaN
2047    NaN
2048    NaN
2049    NaN
2050    NaN
Name: Pool QC, Length: 2051, dtype: object

In [20]:
# Training ORDINAL values
ordinal_train = train_df[['Id', 'Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual', 
          'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
          'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish', 'Garage Qual',
          'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 
         ]]
ordinal_train.head(1)

# You might want to set index to 'Id' will revist later

,Id,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Qual,Exter Cond,Bsmt Qual,Bsmt Cond,...,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence
0,109,IR1,AllPub,Gtl,6,8,Gd,TA,TA,TA,...,SBrkr,Gd,Typ,NaN,RFn,TA,TA,Y,NaN,NaN

In [21]:
# Testing ORDINAL values
ordinal_test = test_df[['Id', 'Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual', 
          'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
          'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish', 'Garage Qual',
          'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 
         ]]
ordinal_test.head(1)

# You might want to set index to 'Id' will revist later

,Id,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Qual,Exter Cond,Bsmt Qual,Bsmt Cond,...,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence
0,2658,Reg,AllPub,Gtl,6,8,TA,Fa,Fa,TA,...,FuseP,Fa,Typ,NaN,Unf,Po,Po,Y,NaN,NaN

In [ ]:
def ordinal_function(train, test):
    train['Overall Qual']

In [49]:
test_df['Overall Qual'].isna().sum()

0

In [45]:
# These are the columns where its already ordered
# test_df[['Lot Shape', 'Utilities', 'Land Slope', 'Electrical']]

In [25]:
# for n in ordinal_train:
#     print(n)

In [ ]:
ordinal_train['Land Slope'].value_counts()

In [33]:
ordinal_train.columns[1:][2]

'Land Slope'

In [38]:
# for n in ordinal_test:
#     for xi in ordinal_test.columns[1:]:
#         print(xi)
#         print(ordinal_test[xi].value_counts())
#         print('='*60)